[2017-04-21 21:03] femanso opened #1 "Async validation"
Is there any way I can do async validation? vue-form-generator recently added promise based validators but I can't get it working with beforeChange.
The validator works, but since beforeChange is not receiving false, i can go to the next step without restriction.

By the way, thanks for the repo, saved me a lot of time.

[2017-04-22 05:14] cristijora commented on #1
As you already saw, async validation is not supported. It's a good idea actually to have it and support that since it might be a common use case. I will try to implement something promise based and come back with an example.

[2017-04-22 05:50] femanso commented on #1
I could get it working, but made too many changes to fit my project, a pull request would break the module since I took out some functions. Thats what I did for the async validation:

on FormWizard.vue,
changed `beforeTabChange(index)` to return a promise:
[code]

`nextTab()` function now uses then/catch and have a loading state:
[code]

finally i can now send a promise as the `beforeChange` funct

[2017-04-22 06:33] cristijora commented on #1
This definetely can be done in a cleaner way. I will try to come up with an example today or tomorrow.

[2017-04-23 00:15] SirRafaMedina commented on #1
+1

[2017-04-23 14:06] cristijora commented on #1
Still testing this out but the usage  would be a promise that resolves with `true`
[code]
The validation would fail if the promise is rejected or if the resolved value is false
You can test with the generated [js build file](https://github.com/cristijora/vue-form-wizard/blob/1-async-validation/dist/vue-form-wizard.js) until I manage to fully test this

[2017-04-23 20:01] femanso commented on #1
sounds good, validation could also be a separate function, beforeChange working as a middleware and something like 'stepValidation' working as a real validation system for the step, this way you can have visual control of the steps errors.

[2017-04-23 20:07] cristijora commented on #1
I made a PR and marked the function which handles async beforeChange.
Can you provide like a sketch of the final output you would expect? Didn't quite get your point

[2017-04-24 20:29] cristijora commented on #1
Updated README with an [example](https://jsfiddle.net/bt5dhqtf/272/) of async validations. @femanso Please detail your last comment and provide some code of how you expect it to be.

[2017-04-25 22:46] femanso commented on #1
I've just tested it, it works as expected. I made a small change for the errors messages, using reject('some field is required') instead of just reject, and showing it on a slot (inside the TabContent), also adding class 'is-error' to the icon. I'll send a pr and you can use it if you like.
I think you can close this, thanks!

[2017-04-25 22:57] retrogradeMT opened #3 "Error: You may need an appropriate loader to handle this file type."
I am gettting this error:   .../node_modules/vue-form-wizard/dist/vue-form-wizard.min.css Unexpected token (14:83)
You may need an appropriate loader to handle this file type.

Do you know which loader is needed?

[2017-04-26 01:17] SirRafaMedina commented on #3
In my case, I´m using css-loader:

`  { test: /\.css$/, loader: 'style-loader!css-loader'},"`

[2017-04-26 01:35] SirRafaMedina opened #5 "Steps without restrictions"
Is there a way to enable to jump between steps?

I'd like to jump from the first to the last one?
 I know can do it if I pass all the step with the "Next" button or setting the  :start-index="lastIndex" but i'd like having without restrictions

[2017-04-26 07:00] #1 closed

[2017-04-26 07:01] cristijora commented on #3
@retrogradeMT Can you tell a bit more about your setup ?
You can also import the css directly into a html page with a `style` tag
[code]

[2017-04-26 07:03] cristijora commented on #5
Interesting idea. I might add a special slot for this so it's possible to do that. What do you mean by without restrictions? Ignore beforeChange calls ?

[2017-04-26 11:22] retrogradeMT commented on #3
I think I will just use the style tag approach for now but I'd be happy to help get to the bottom of this error.   I'm using Laravel elixer 6, webpack and vue 2.1.6

I've got the following loaders installed:  style, stylus, css, vue and sass

[2017-04-26 11:31] cristijora commented on #3
Did you import other css files with `import` so far?

[2017-04-26 11:53] retrogradeMT commented on #3
No, I have not

[2017-04-26 12:45] cristijora commented on #3
Try searching for this issue in the [laravel community](https://gitter.im/laravel/laravel?source=explore)
as it is not related to vue-form-generator. I don't know the laravel setup very good unfortunately so I can't help you here. [stackoverflow related to this](http://stackoverflow.com/search?q=import+css+from+node_modules+laravel)

[2017-04-26 19:12] cristijora commented on #5
Update
You can use a ref and change tab in the following way
[code]

[2017-04-26 19:12] #3 closed

[2017-04-26 21:10] SirRafaMedina commented on #5
I mean to be able to skip to any step.
Example, we have a form with three steps and we saved all the info.
If somebody comes back and wants to update its info just in the 2nd step, let it click on it without validate the info in the first one.
In the fiddle, the solution could be this:
[code]

[2017-04-27 07:18] cristijora commented on #5
From your use case, I would rather make the `:start-index="2"` and after that you can click on any of the upper steps and go back to the step you want.

[2017-05-02 06:59] #5 closed

[2017-05-03 15:20] packytagliaferro opened #6 "No bootstrap"
This is just a suggestion, but i would only include the sass (or css file) needed to make this work and not the whole bootstrap css file. A lot of developers do not use bootstrap and use just mixins since bootstrap is pretty bloated and you need to overwrite a ton so when I added this component it wrecked havoc on my layouts since it included the whole bootstrap css file. You cloud maybe too just

[2017-05-03 15:27] cristijora commented on #6
Hey thanks for posting this. I am vet aware of that and I started working on that earlier on but somehow left it aside so I could implement the main stuff. The bootstrap css imported in the component is a custom build which has only navs and a progress bars. My plan is to get rid of it and have the styling under the form wizard main class so it doesnt affect anything globally

[2017-05-03 15:30] packytagliaferro commented on #6
Perfect. That would help a ton since even some of the nav stuff affects globally. I am currently stripping some stuff and making it only affect the plugin that I could post if needed.

Cheers!

[2017-05-03 15:32] cristijora commented on #6
You can do a PR if you wish. I can only work on this tomorrow or probably today

[2017-05-03 20:00] cristijora commented on #6
Did some cleanup on the css. The final css bundle reduced from 40kb to 6kb. Still can be improved

[2017-05-04 18:13] packytagliaferro opened #7 "Programmatically change index"
Is there way to call `navigateToTab` method from the parent component? Basically so you dont have to use any buttons but call it when I get a call back (say from when stripe or my server says they have created an account). This way when I get success response it moves to the next step.

Thanks!!

[2017-05-04 18:31] cristijora commented on #7
You can always use a `ref` on the wizard and programatically call `changeTab`
`this.$refs.wizard.changeTab(oldIndex,newIndex)`
https://jsfiddle.net/bt5dhqtf/316/
Notice that this won't trigger the validation methods. You can also take a look at [this issue](https://github.com/cristijora/vue-form-wizard/issues/5) which is basically the same thing

[2017-05-04 18:34] packytagliaferro commented on #7
Perfect! I forgot to add ref to the wizard component

[2017-05-05 09:06] #7 closed

[2017-05-06 11:36] cristijora commented on #6
Please see the [new release](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.3.0) We can close the issue

[2017-05-06 11:37] #6 closed

[2017-05-12 08:28] rogeronline opened #8 "no api to hide button, no api to jump to step x"

[2017-05-12 09:00] cristijora commented on #8
Change buttons with slots: https://jsfiddle.net/CristiJ/bt5dhqtf/332/
Jump to a certain step: https://jsfiddle.net/bt5dhqtf/316/
`this.$refs.wizard.changeTab(fromIndex,toIndex)`

[2017-05-12 09:46] rogeronline commented on #8
thanks for quick reply. didn't expect that fast:)
refs is only working inside specific React lifecycle methods, am i right?
And is that possible to disable wizard icons?

[2017-05-12 10:14] cristijora commented on #8
To disable icons use css.
[code]
A `ref` in Vue as well as in React is a reference either to a DOM element or a component which is also a DOM element. Therefore `refs` are accessible only from the moment your parent component is inserted in the DOM  (from `mounted` hook until `destroy`). You can use refs inside `mounted` or `methods` but don't recommend using them in `computed`

[2017-05-12 10:15] rogeronline commented on #8
this ugly solution works...,
`onComplete : function(){
	for (var i = 0; i < this.$children.length; i++) {
                if (this.$children[i].$options.name == 'form-wizard') {
                    this.$children[i].changeTab(2,0);
                }
            }

			}`

[2017-05-12 10:17] rogeronline commented on #8
cool! thanks !!!

[2017-05-12 10:17] #8 closed

[2017-05-12 10:18] cristijora commented on #8
Why not add a ref
[code]

[2017-05-12 10:22] rogeronline commented on #8
You are right!!! This is much more elegant！Sorry, did not notice that in yr first post. Thanks for your great help to a newbie!

[2017-05-21 04:04] gyamxxx opened #9 "themify-icons style shifted to the top"
Sorry, I'm poor English.
Your library is awesome 👍.
By the way, I'm using bulma.css and your library, but themify-icons style shifted to the top like this.
![icon](https://cloud.githubusercontent.com/assets/6592208/26281051/4fbdb6d6-3e25-11e7-9567-425f54f80ef6.png)
Maybe .icon class is appreciated with bulma.css.
How can I fix it? plz help me.

[2017-05-21 08:14] cristijora commented on #9
Please make jsfiddle if you can. That would help a lot

[2017-05-21 10:58] cristijora commented on #9
Also themify-icons are just an example. You can use pretty much any icons library as long as it's css classes. Here is an example with font-awesome icons https://jsfiddle.net/bt5dhqtf/349/

[2017-05-21 14:14] gyamxxx commented on #9
@cristijora
Thank you for reply.
Sorry, themify-icons is not related with this problem.
bulma.css's nav class and icon class are affected with vue-form-wizard.css.
It's my jsfiddle example.
https://jsfiddle.net/bt5dhqtf/353/

[2017-05-21 14:30] cristijora commented on #9
Yeah I see the issue. Unfortunately I cannot control too much what other css libraries override.
Here is a short term fix https://jsfiddle.net/bt5dhqtf/360/ where certain stuff can be overriden for the wizard parts. By the way, vue-form-wizard doesn't affect any other global css because everything is under `.vue-form-wizard` class but in this case other css affects the wizard.

I will try to renam

[2017-05-23 01:42] gyamxxx commented on #9
Thanks @cristijora .
I'll attempt your jsfiddle sample for now.

[2017-05-23 15:29] gyamxxx opened #10 "browser back situation"
Hi, I'm trying vue-route example.
https://jsfiddle.net/bt5dhqtf/267/
First, I press next button, Next I press browser back button, then It does not show anymore.
How can it show first page when going back to top?

[2017-05-23 16:23] cristijora commented on #10
I see the issue. I will try to do something about it in the following days. Ideally back button should work and redirect you to the previous tab. Most likely I have to add a route watcher

[2017-05-24 02:55] gyamxxx commented on #10
I see. You can do this.

[2017-05-24 22:12] genesluna opened #11 "bootstrap button classes affected"
When we use slots for the navigation buttons, we cannot style them with bootstrap classes.

https://jsfiddle.net/genesluna/30v2q7uc/5/

[2017-05-25 05:38] cristijora commented on #11
Thanks for posting @genesluna I already know about this issue and its basically the same as #9
I am working on and almost have a full solution which has very specifi class names such as wizard-btn instead of btn. If you have any suggestions or ideas, I am open to them

[2017-05-25 06:15] cristijora commented on #11
Please check the same fiddle but with the js and css sources from the `dev` branch which contains the modifications regarding this part
https://jsfiddle.net/30v2q7uc/6/

[2017-05-25 16:36] genesluna commented on #11
It seems pretty good to me. Thank you so much.

[2017-05-25 16:38] #11 closed

[2017-05-26 06:45] gyamxxx commented on #9
@cristijora
I confirmed it.Thank you so much !!

[2017-05-26 06:45] #9 closed

[2017-05-26 06:50] cristijora commented on #10
I am working on this. It's a bit tricky but hopefully it will be solved soon. Also noticed that refreshing while being on a certain step, redirects to first step

[2017-05-26 12:34] obiwarn opened #12 "Back Button should not validate"
check your sample:

https://jsfiddle.net/CristiJ/bt5dhqtf/286/

you cannot go back on the second screen, since vaildation block this.

How can I prevent this?

[2017-05-26 13:04] cristijora commented on #12
Indeed there is no default way to handle this case.
https://github.com/cristijora/vue-form-wizard/blob/master/src/components/FormWizard.vue#L322

This is the method that handles tab change when going to the previous tab and I would have to trigger `beforeTabChange` based on some prop.
If you have any suggestions on how to disable/enable validations for certain buttons let me know about it.
If you

[2017-05-26 13:11] obiwarn commented on #12
That would be great.

Maybe even default it to `false` since most wizards dont validate on back, I think.

[2017-05-26 13:12] obiwarn commented on #12
Or rename the prop to `beforeTabNext` and add `beforeTabPrev` ?

[2017-05-26 13:23] cristijora commented on #12
I will play around with more options this weekend and come to a solution for sure.

[2017-05-27 09:20] cristijora commented on #12
@obiwarn Please check the initial fiddle. Now back button doesn't validate by default

[2017-05-27 09:28] cristijora commented on #10
@gyamxxx Please check the initial fiddle. back and forward buttons should now trigger tab changes

[2017-05-28 03:21] thearabbit opened #13 "How to integrate `Element UI`?"
How to integrate `Element UI`?

[2017-05-28 09:47] cristijora commented on #13
You can use slots and place pretty much anything you want inside tabs.
Here is an example https://jsfiddle.net/bt5dhqtf/393/ where in the second tab you have an Element UI form and the `prev` `next` buttons are also from element ui.
You can also customize the title and sub-title with slots. See slot names [here](https://github.com/cristijora/vue-form-wizard#slots)

[2017-05-28 11:08] thearabbit commented on #13
Thanks for your reply.
I will try soon 👍

[2017-05-28 11:14] #13 closed

[2017-05-29 00:54] dco5 commented on #12
This is exactly what I need! Awesome!

[2017-05-29 01:50] gyamxxx commented on #10
@cristijora
Thank you for fix it.
but, same problem is occurring(First, I press next button, Next I press browser back button, then It does not show anymore)..
Is this correct url?
https://jsfiddle.net/bt5dhqtf/267/

[2017-05-29 07:03] cristijora commented on #10
Does this also happen locally ? I can't really see the routes in jsfiddle so it's a bit hard to understand what actually happens there. At least it's good that tab switching works when going back and forward in the browser.
I will see if this happens locally which I think it doesn't and figure out the issue

[2017-05-29 07:17] gyamxxx commented on #10
It work well at local without ```mode:'history```.
Thank you very much.

[2017-05-29 07:49] #10 closed

[2017-05-29 09:05] obiwarn commented on #12
works! thank you!

[2017-05-29 09:18] obiwarn commented on #12
Now a new bug arising from this:
1. go to fiddle
2. go to second step
3. press next > errors appear
4. press back > round icon is still red

[2017-05-29 09:22] cristijora commented on #12
Thanks for that. Also noticed that you cannot click on a previous tab/circle without validation

[2017-05-31 13:12] cristijora commented on #12
I will take care of this in the following days and wait for your input on this also to see that no issues appear when I do the next release.

[2017-06-04 07:19] serge20 opened #15 "Pressing outside the next button, triggers back button"
I've tried implementing this and i'm wondering if the expected behavior of pressing the empty space between back and the next button should trigger a back button?

[2017-06-04 08:17] cristijora commented on #15
Thanks for pointing this out. This is indeed not intended behavior.  I will fix it

[2017-06-04 08:58] cristijora commented on #12
This is fixed now. Please verify if it's ok

[2017-06-04 08:59] cristijora commented on #15
I fixed this. You can check one of the fiddles from readme/docs and see if it's ok now. I will also publish a new npm version soon

[2017-06-04 17:00] hemnys commented on #12
hi, I have the same problem, please tell me, how to upgrade your package for install the new changes, I have installed using npm

[2017-06-04 17:05] cristijora commented on #12
I will make a new npm release soon (today or tomorrow) with the fix for this issue and some other issues

[2017-06-04 17:06] hemnys commented on #12
oh nice, Thanks!!!

[2017-06-04 18:50] cristijora commented on #12
Released on npm under v0.4.2 https://github.com/cristijora/vue-form-wizard/releases

[2017-06-04 18:51] cristijora commented on #15
Released on npm under 0.4.2 -> https://github.com/cristijora/vue-form-wizard/releases/tag/v0.4.2

[2017-06-04 19:05] hemnys commented on #12
works fine!!! thanks again

[2017-06-04 22:35] serge20 opened #16 "Skip a tab content"
Hi,

I was wondering what's the best way to skip a tab and jump directly to a specific tab of your choice.

My use case is the following:

we have 4 tab contents, you make a payment on tab 2 which gets validated before you can go to tab 3. However in the case of the form right now, you're able to press on the tabs and go back to them. If you go back to tab 2, it will always try to validate and sen

[2017-06-05 04:22] dre1080 opened #17 "Add ability to hide step title, icons & progress bar"

[2017-06-05 07:15] cristijora commented on #16
There is an internal method for such situations
https://jsfiddle.net/bt5dhqtf/448/

[code]
Usage:
[code]

[2017-06-05 07:33] cristijora commented on #17
Can you provide more details about the use case here ?
You can pretty much achieve this with css https://jsfiddle.net/bt5dhqtf/479/

[2017-06-05 07:33] #15 closed

[2017-06-05 16:08] vl4d opened #18 "Support for dynamic tab-content"
Hey I have been playing around with your wizard, and I would love to update the number of tab-contents on the fly (managed by an array) depending on user preference the wizard would lengthen or shorten.

Here is a fiddle with what I would like to do. The remove first item button, though doesnt seem to remove the corresponding tab-content as I'd expect.

[https://jsfiddle.net/bt5dhqtf/482/](https:/

[2017-06-05 16:35] #17 closed

[2017-06-05 16:49] cristijora commented on #18
Hi @vl4d I think I know why the issue appears. On mobile right know but I will look into it today.

[2017-06-06 00:42] mrcasual opened #19 "How to pass props to route?"
Re,

I am rendering a wizard within a component that receives props:

`<wizard :data='....'></wizard>`

Inside the component, I am using your sample [router integration code](https://jsfiddle.net/bt5dhqtf/267/):

[code]

`first_step` is mapped to another component:

[code]
Question: how do I pass `data` received by the wizard component to the component loaded inside the tab (other than using `this

[2017-06-06 05:21] cristijora commented on #19
Unfortunately I don't think Vue-router allows passing props dynamically. From what I know you can pass props to routes only in the initialization (inside `new VueRouter`) If you know how to do that dynamically please make a fiddle and I will try to see if it's possible to do it in the wizard.

[2017-06-07 10:50] obiwarn commented on #12
great work!
there is one little bug left:
when you click on a circle of a previous step (instead of the back button) it still tries to validate on the current step.

[2017-06-07 10:56] cristijora commented on #12
Good catch. Time to write unit tests 😄

[2017-06-07 19:36] cristijora commented on #18
@vl4d Can you take a look at this fiddle https://jsfiddle.net/CristiJ/bt5dhqtf/497/
It references a develop branch so it's not ready for usage yet but wanted to know your opinion here on how steps should be handled.

1. What happens if the current checked step is removed?
2. What happens if a step before or after the current checked step is removed?
3. What happens if a step is added before or aft

[2017-06-08 08:59] vl4d commented on #18
@cristijora thanks for the quick response, and based on your questions i'd say:

1. If the current checked step is remove, I'd go to the step before it.
2. If the step before or after the current step is removed then I'd expect the wizard to remain at the current step. The wizard would just be 1 step shorter.
3. If a step is added before the current checked, it would mean that we send the user bac

[2017-06-13 19:00] #16 closed

[2017-06-15 10:39] obiwarn opened #21 "Example: Refactor wizard steps into components"
Hey,

I am new to Vue.

I try to refactor your forms example:
https://jsfiddle.net/CristiJ/bt5dhqtf/286/

How can I get the wizard steps into separate components? Do I need to pass the model and formOptions as props?

Thank you!

[2017-06-15 11:54] cristijora commented on #21
@obiwarn You cannot extract the steps into components (circles from above) since those are handled by the wizard component but you can extract the tab-contents.
There are 2 approaches of doing this:
1. Either with `vue-router`  See https://jsfiddle.net/bt5dhqtf/267/
Instead of `First` `Second` you can have your own components with the content you want
2. Extract the content from each tab-content i

[2017-06-15 14:39] obiwarn commented on #21
Thank you!

2. did the trick for me.

[2017-06-15 14:39] #21 closed

[2017-06-24 10:06] #19 closed

[2017-06-28 19:28] exnihilo-creatio opened #22 "Vertical Tabs"
For forms contain many fields and field groups, it would be nice to be able to create vertical progress tabs.
An example can be seen [here](https://codelabs.developers.google.com/codelabs/material-design-style/#3)

[2017-06-28 19:51] cristijora commented on #22
Interesting idea. For now I can't set this as a high priority since I'm planning to rewrite the form-wizard in jsx due to some limitations. After doing that I will consider your proposal.

[2017-06-28 19:54] cristijora commented on #18
Sorry for late response on this. I will most likely rewrite the wizard in jsx. Currently I'm a bit limited of rendering dynamic content from slots and don't have as much control over that as I have with render functions and jsx. I have tried implementing this but it very quickly got dirty and uncontrollable. This might take 2-3 weeks until I find time to port the wizard to jsx and consider this fu

[2017-06-28 19:55] cristijora commented on #12
This might take a little bit more time.

[2017-06-28 22:27] hawkeye64 opened #23 "[Question] Is there a way to dynamically change to a tab?"
For instance, the last tab contains a summary of the previous tabs and if user sees something and would like to edit it, I'd like to have a button on the summary tab that allows the user to go to the correct tab rather than traverse back.

[2017-06-29 07:52] cristijora commented on #23
There have been 2 issues around this.
https://github.com/cristijora/vue-form-wizard/issues/16

https://jsfiddle.net/bt5dhqtf/448/

[code]
Usage:
[code]

[2017-06-29 18:05] DelfsEngineering opened #24 "before-change to pass current and destination index"
I see only the `on-validate` method hook will pass the index of the current tab. But What if I want to know where the user is going so I can later do a server side validation?

The `before-change` does not pass any of this information but would seen is the correct hook for this information.

Is it possible to know the source and the destination tab index's from any other methods?

[2017-06-29 18:49] cristijora commented on #24
Indeed, there is no way to know that. You can access the current tab index via refs `this.$refs.formWizard.activeTabIndex` but you don't have access to the destination tab and it might be hard to do that since the validation happens first, the `before-change` is executed then the tab is changed. If the validation fails, there is basically no destination tab.

[2017-06-29 20:27] DelfsEngineering commented on #24
Thanks.
Is there ever a reasons to use the validation hook over the before-change one?

It seems they are called one after the other anyways.

[2017-06-29 20:55] cristijora commented on #24
Well before change is a method dedined by the user while the validation hook is an event which is emitted once the validation of before change fails or passes. Since before change can by async/promise then on-validated hook is called later after the async execution of before change

[2017-06-29 23:32] IAMine2424 opened #25 "activeTabIndex doesn't change when switching tab via the url (using view-router)"
**Problem:**
when you visit the page via a `vue-router` route, the right component is shown, but the active highlighted tab is still the first tab.

so `"activeTabIndex"` isn't updating when changing tabs trough a URL, only when changing tab with the "next" and "previous" button or directly clicking on a tab step (the icons) on top.

**Reproduce:**
this is the example in the docs: https://jsfiddle

[2017-07-01 05:34] cristijora commented on #25
Hi @IAMine2424 I am currently re-writing form-wizard to jsx so I can have more control over the rendering process. After I finish that part, you can do a PR. I think this is already is implemented in the dev branch anyway

[2017-07-02 07:44] cristijora commented on #25
@IAMine2424 since form-wizard supports some pre-validations, would we want a route change if the forms are not valid ?

[2017-07-03 16:33] cristijora commented on #12
@obiwarn The last part has been addressed in 0.5.0

[2017-07-03 16:33] #12 closed

[2017-07-03 16:34] cristijora commented on #18
This is the only point which I have not addressed yet since it's rather hard to detect where a step was added. If you have any ideas, please let me know. Kind of stuck on it.

[2017-07-03 16:35] #23 closed

[2017-07-03 16:39] cristijora commented on #24
So far `on-change` event has been added
Usage:
`@on-change="handleTabChange"`
[code]
However this does not prevent tab switching. If you want to do some async validations this would still not prevent tab switching. Hopefully this help a bit at least.

[2017-07-05 15:50] mehranrasulian commented on #24
Already using `this.$children[0].activeTabIndex` in the callback passing to `:before-change` prop  so I can access the current index.

Wish there was a way to pass parameters to the callback of `:before-change`. I think this should work but not sure about the result.

[code]

[code]

[2017-07-05 16:19] cristijora commented on #24
@mehranrasulian That's a good suggestion actually. What's the item in your case ? I'm thinking whether it's better to bind form-wizard's context when calling this validation method so you could do something like
[code]

[2017-07-07 15:24] aredev opened #26 "Child component validation and event"
Hi all,

I was using the wizard component but stumbled on a issue. I have the wizard with multiple steps. Each step is presented in a separate component. This component is responsible for the validation, followed by making a post request to the server. I capture the tab change event with the before-change handler, here is the issue. The before-change handler returns the result of the validation, h

[2017-07-07 17:25] cristijora commented on #26
@aredev I will try to re-create a jsFiddle and start from there.

[2017-07-07 17:43] cristijora commented on #26
Here is the solution I came up with https://jsfiddle.net/bt5dhqtf/591/

In your submit step you change the step which trigger your server request and after that return a promise. The catch here is that promise listens for a local event in your parent component. When that even is emitted, the promise resolves/rejects accordingly.

[code]

In your stepCompleted event handler you simply emit the loca

[2017-07-11 13:15] exnihilo-creatio opened #27 "Custom buttons"
I am currently using the form wizard in a modal and trying to conform to material design guidelines. I would like to have a 'Cancel' button next to the 'next' and 'finish' button. However, there is currently no control on placing extra buttons next to the default ones.

[2017-07-11 13:42] #26 closed

[2017-07-11 13:44] cristijora commented on #27
Indeed there is no way to add extra buttons near the current ones. I might add some additional slots, but don't want to add to many. Do you have any other idea ?

[2017-07-12 17:57] movepixels opened #28 "No Form Wizard - Errors"
I followed the guide, pretty straight forward but I am getting many errors.
[Vue warn]: Error when rendering component <form-wizard> at C:\work\vue-tab-wizard\src\components\FormWizard.vue:

I dont even have a C:\work folder ???

And:
Uncaught TypeError: Cannot set property 'active' of undefined

I used the npm and tried straight download, both show the same errors.

Global and local registration.

[2017-07-12 19:55] cristijora commented on #28
Hi @movepixels. Can you please provide your setup (component registration and usage) and maybe a stack trace/screenshot of this error 'active' of undefined?

[2017-07-12 21:27] cristijora commented on #28
Could you please try the latest 0.6.1 version and see if the error reproduces? The private paths at least should be removed

[2017-07-12 21:32] cristijora commented on #24
@mehranrasulian Have you tried
`:before-change="()=>validateItem(item)"`
This should work. Here is a fiddle. https://jsfiddle.net/bt5dhqtf/620/ Open the console and see that the parameter is passed to the method.

[2017-07-13 02:58] movepixels commented on #28
Ok thanks, just grabbed the 0.6.1 version, the C:\work folder error is gone,
Using Vue 2.0.7
![untitled-1](https://user-images.githubusercontent.com/1903217/28148461-63f4abe0-6761-11e7-835d-2e13f7b1dd3f.png)

[2017-07-13 05:10] cristijora commented on #28
You might want to upgrade to at least vue 2.1.5. I need some time to figure it .

[2017-07-13 13:14] exnihilo-creatio commented on #18
@cristijora Regarding your [comment 312689794](https://github.com/cristijora/vue-form-wizard/issues/18#issuecomment-312689794). ~~One idea might be the give every tab a private index in [initializeTabs ](https://github.com/cristijora/vue-form-wizard/blob/develop/src/components/FormWizard.vue#L387), then in [reinitializeTabs](https://github.com/cristijora/vue-form-wizard/blob/develop/src/components

[2017-07-13 13:23] cristijora commented on #18
@exnihilo-creatio Thanks for the idea. I sort of improved this with a new internal implementation but I still feel that it doesn't work as expected mainly due to the fact that different array operations (shift, pop etc) can cause multiple additions/removals which in the end provides inconsistent results. Don't know if hashing would help too much here but I could give a try.

[2017-07-13 16:24] exnihilo-creatio commented on #18
The idea for the hash is to find out which tabs are currently being tracked. Once the array has been changed you loop over the new tabs and check which hashes are not present in the interal hash cache. Those not present are new tabs, and from the loop you can know the position of newly added tabs.

[2017-07-13 16:33] cristijora commented on #18
@exnihilo-creatio Do you have the desire to do a PR 😄  ?
The current logic for this is here
https://github.com/cristijora/vue-form-wizard/blob/master/src/components/FormWizard.vue#L226
and here
https://github.com/cristijora/vue-form-wizard/blob/master/src/components/FormWizard.vue#L237

You could add a watch property for `tabs` and add this `hash` as a computed property maybe inside `tab-content`

[2017-07-14 16:50] mehranrasulian commented on #24
@cristijora Good idea, didn't even though about it !!! I'll try it on my project as well soon ^^

[2017-07-15 19:54] exnihilo-creatio commented on #27
Keep the slots for the buttons, but introduce a 'left' and 'right' slots that comes before and after the 'previous' and 'next' buttons.

[2017-07-15 19:56] exnihilo-creatio commented on #18
@cristijora Yes, but I can't guarantee a timeline, I'm swamped with work the coming weeks.

[2017-07-16 11:45] cristijora commented on #27
@exnihilo-creatio I actually don't want to add more slots for some limited use cases.
Maybe expose some methods via scoped slots and have something like:
[code]

And you can customize it how you want in terms of looks

[2017-07-16 11:48] cristijora commented on #18
@exnihilo-creatio No worries about that. I would be grateful for the help regardless of timeline

[2017-07-16 11:48] cristijora commented on #24
I think we can close this since, there is the fiddle example which works and suits your use case.

[2017-07-16 11:48] #24 closed

[2017-07-16 15:31] mehranrasulian commented on #24
It's fine, thank you !

[2017-07-19 11:58] vl4d commented on #18
Sorry for the delay. (finals came up)
@cristijora I had tried to do something hacky to introduce a hash as @exnihilo-creatio mentioned. If my proof of concept works I'll share and hopefully you can make it more elegant.

[2017-07-19 12:19] cristijora commented on #18
@vl4d Would be happy to see a working concept :)

[2017-07-19 12:19] cristijora commented on #27
I will try to do this today

[2017-07-26 12:14] alex996 opened #29 "How to disable the click event on nav pills?"
The form that I'm building requires that the users cannot go back to a previous step. I used a little trick to remove the "Back" button: `<template slot="prev"></template>`. However, I couldn't find a way to disable the nav pills (i.e. the circle steps at the top) from allowing the user to navigate back. How can I approach this?

P.S. On a side note, I used `<tab-content title="" icon="-">` to rem

[2017-07-26 16:25] cristijora commented on #29
@alex996 I'm on a little vacation and cant really provide an example or a full answer intil the end of this week. Regarding your second question, placing empty strings as icon and title should be enough to display an empty step.
Regarding your first question, for now, you can't really prevent the steps from having click handler events. Maybe a scoped slot can be added or eventually another prop

[2017-07-26 17:07] alex996 commented on #29
@cristijora Thanks for answering! I'll take a look at the source code, and maybe I could write a PR for this based on your suggestions.

As for the icons, it seems that by default it puts numbers inside nav pills (i.e. 1,2,3, etc.), whether you provide the prop `icon=""` or leave it out altogether. Here's a copy of the [basic demo](https://jsfiddle.net/bt5dhqtf/658/) to show this... But then, this

[2017-07-28 20:09] Chinese1904 opened #30 "Transition effect for steps - example"
Hi!

I am struggling to figure out how to use transitions. I was thinking about using a simple bounce-out-left transition and from the docs I can see

[code]

How exactly do I implement it into my Vue app?

Is this a working example?

[code]

I can't find any documentation on this and how it functions. If I define default, do I define it with the CSS class name for the transition?

Is there any wa

[2017-07-29 06:53] cristijora commented on #30
@Chinese1904 `transition` is a prop for the wizard. It will not work as you wrote.
Please take a look at https://vuejs.org/v2/guide/transitions.html#Transitioning-Single-Elements-Components to understand how transitions work in vue
The usage would be `<vue-form-wizard transition="fade">.... </vue-form-wizard>

And then, here is an example https://jsfiddle.net/bt5dhqtf/664/ with fade animation

Wit

[2017-07-31 03:32] agilBAKA opened #31 "How to disable button back in the last tab?"

[2017-07-31 12:45] cristijora commented on #31
@agilBAKA You can do it via `refs`
https://jsfiddle.net/bt5dhqtf/691/

It's not a very clean solution because you have to write the button yourself and also have the ref, but this will be possible in the next release with scoped slots
[code]
The only disadvantage is that once you customize this stuff, you will have to wire up the button clicks and the UI but it will be fully customizable. Until th

[2017-07-31 17:25] cristijora commented on #27
@exnihilo-creatio Sorry for the long delay. I was on a vacation.
I made a scoped slot for the footer
Besides that, the wizard button is exposed as a component now for easier use. You can of course use any buttons you wish

https://jsfiddle.net/bt5dhqtf/696/

Available prop methods/objects
[code]

[2017-07-31 18:21] cristijora commented on #29
@alex996 as small as this requirement seems, I had to make couple of changes to make this possible but in the end it lead to cleaner code and a more modular wizard.

 Here is an example https://jsfiddle.net/bt5dhqtf/705/ (not published to npm yet)
The step is exposed via a component which accepts 3 props. You can look in the source
Usage:
[code]

Besides the things from above, you have available `

[2017-07-31 18:51] #30 closed

[2017-07-31 19:03] cristijora commented on #31
@agilBAKA
The other option is possible now due to the impleemntation from #27
Example
[code]

Fiddle https://jsfiddle.net/bt5dhqtf/710/
It's up to you which option you chose, but the last one is more modular and allows changes easier as well as does not depend on refs which have their issues.

[2017-07-31 19:51] cristijora commented on #31
Released https://github.com/cristijora/vue-form-wizard/releases/tag/v0.6.2
Also see [docs about this part](https://cristijora.github.io/vue-form-wizard/#/?id=footer-slot)

[2017-07-31 19:51] #31 closed

[2017-07-31 19:52] cristijora commented on #27
Released 0.6.2  https://github.com/cristijora/vue-form-wizard/releases/tag/v0.6.2
Also updated docs https://cristijora.github.io/vue-form-wizard/#/?id=footer-slot

[2017-07-31 19:53] cristijora commented on #29
See release notes from the last release for additional details https://github.com/cristijora/vue-form-wizard/releases/tag/v0.6.2
and the updated docs https://cristijora.github.io/vue-form-wizard/#/?id=step-slot

[2017-07-31 19:53] #29 closed

[2017-07-31 19:55] cristijora commented on #28
Latest version uses scoped slots which requires vue > 2.2.0, therefore closing this issue as it does not persist when vue version is higher than 2.2.0. Let me know if you have any updates after upgrading vue version.

[2017-08-01 03:27] agilBAKA commented on #31
Thank you @cristijora

[2017-08-01 04:38] imylomylo opened #32 "el-form, el-form-item, el-button components - where are they?"
Hi

I'm just hacking around with an example from jsfiddle [1] and am getting "Unknown custom element: <el-form> - did you register the component correctly?" error messages in the console.

I can't locate el-form, el-form-item and el-button components anywhere.

My template and script looks like this:

[code]

[1] https://jsfiddle.net/bt5dhqtf/409/

[2017-08-01 06:12] cristijora commented on #32
The example from the fiddle as the titile states, uses element-ui which is the most popular vue UI library.
http://element.eleme.io If you want to use it, follow their docs which are good.. Vue form wizard is the wizard part only and does not deal with form elements. You are free to chose and use whatever you like for form elements and element ui is just one of them. You can also see that its refe

[2017-08-01 06:15] imylomylo commented on #32
Oh damn I didn't see the reference.  I'm on the move and will check when
back at a desk.

Thanks for your informative response.  Awesome component and in tandem with
form generator.

Cheers

On 1 Aug 2017 16:12, "Cristi Jora" <notifications@github.com> wrote:

[2017-08-02 14:34] jpnut opened #33 "Using sensible z-index values"
**Problem**
The current z-index values used for the default styles are seemingly arbitrary - see [here](https://github.com/cristijora/vue-form-wizard/blob/master/src/assets/form-wizard/_navs-pagination.scss#L24), [here](https://github.com/cristijora/vue-form-wizard/blob/master/src/assets/form-wizard/_wizard-card.scss#L57), and [here](https://github.com/cristijora/vue-form-wizard/blob/master/src/as

[2017-08-03 02:13] vxzry opened #34 "How to fire onComplete when submitting using enter key"
Clicking the finish button fires my ajax request from my onComplete function
but pressing enter key just submits the form normally

[2017-08-03 06:31] cristijora commented on #34
@vxzry If you are familiar with scoped slots, you can do this with the latest 0.6.2 version
Here is an example
https://jsfiddle.net/bt5dhqtf/724/

You have to wire a couple of things yourself but then you have control over what actions to do when interacting with the buttons :)

[2017-08-03 06:33] cristijora commented on #33
@jpnut A PR would be very welcome. Indeed, the css part is not the best and could be improved. I don't think there is a reason for these values since initially I started with the css from https://www.creative-tim.com/product/paper-bootstrap-wizard and adjusted it along the way

[2017-08-03 06:33] #32 closed

[2017-08-03 08:24] jpnut commented on #33
Sure thing! To be honest the css is the least of my concerns - it's very straightforward to roll your own solution, but I personally quite like the default styles provided, and would like to use them in my projects - the only thing stopping me was the z-index! I'll submit a PR today or tomorrow, depending on when I get the time.

Thanks a lot for a great package, your work on this is greatly appre

[2017-08-03 08:41] cristijora commented on #33
Thanks for the kind words. The goal for me, would be to have something like in my other component https://github.com/cristijora/vue-tabs#theming where you can easily make a theme a make it look different/personalized quite easy.

[2017-08-03 12:10] #33 closed

[2017-08-03 16:00] vxzry commented on #34
This is what im trying to do
https://jsfiddle.net/dgkej2ke/
what should i do to submit the form through the on-complete method?

[2017-08-03 16:12] cristijora commented on #34
Not quite understanding what you want there. You want to submit the form from the last step or the first step?

[2017-08-03 16:26] vxzry commented on #34
Ohh I'm sorry. I wrapped my form-wizard inside a form element and I was wondering how I could use the complete function from the form wizard to handle the submit event of my form aside from clicking the finish button. Do I need to create a different function outside my vue instance or is there something inside vue-form-element that does this kind of thing? Im really sorry for all the trouble.

[2017-08-03 16:26] cristijora commented on #34
I think I understood. I simplified the example a bit
https://jsfiddle.net/dgkej2ke/17/

You can call submit on your form element https://www.w3schools.com/jsref/met_form_submit.asp
`this.$refs.myForm.submit();`

[2017-08-03 16:46] vxzry commented on #34
Ohhhhh right 👍 Thank you so much! I forgot about submit prevent. I could use that. Thank you.

[2017-08-03 16:46] #34 closed

[2017-08-06 13:50] amsanket22 commented on #28
I have 0.6.2 now but it gives error on some events not while shuffling the tabs. i think it has some problems with routes. please help. everything works fine but it just gives error in console - "[Vue warn]: Error in destroyed hook: "TypeError: Cannot set property 'active' of undefined"

[2017-08-06 13:52] cristijora commented on #28
Can you show the code please? Maybe reproduce in a fiddle?

[2017-08-06 14:56] amsanket22 commented on #28
Yes definitely, I will try to do it. but actually I am using electron, and I am using vue router, it occurs when I change the route, suddenly it shows that error.

[2017-08-06 19:22] #28 closed

[2017-08-06 19:25] cristijora commented on #28
@amsanket22 I found the error myself when working on another project. It has been fixed and 0.6.3 does not contain the error anymore. It occurred when navigating to another page. I had some operations in the beforeDestroy hook which needed some more checks.

[2017-08-07 03:25] amsanket22 commented on #28
@cristijora Yes, Update resolved my issue, thank you so much. I liked your support.

[2017-08-11 03:45] thearabbit commented on #13
Excuse me, Could you example with setting a `Form` for any `Step`?
(not only step)

[2017-08-13 01:05] Chinese1904 opened #36 "tab changes position when toggled"
Hi everyone,

I struggle figuring out how I can keep the toggled tab at the same position. Take a look at this fiddle:
https://jsfiddle.net/bt5dhqtf/747/

As you can see, when you press "Log Out Toggle" the toggled tab's position will change to before the last tab.

Any help would be greatly appreciated!

Chris

[2017-08-13 10:24] cristijora commented on #36
@Chinese1904 Thanks for reporting. Unfortunately I don't think I can fix that since I cannot control the order in which the children are rendered. I would suggest using a `v-for` in combination with `component :is` for such cases since the order is predicatable in this case

https://jsfiddle.net/bt5dhqtf/758/

You can organize steps into components this way which I think also leads to cleaner more

[2017-08-13 16:19] Chinese1904 commented on #36
Thanks a lot for pointing out this alternative with the fiddle. Helped a lot!

[2017-08-13 16:19] #36 closed

[2017-08-21 19:54] Doodlepants opened #37 "Validation skipping steps when previously visited"
Repro steps:
1) use [Fiddle](https://jsfiddle.net/CristiJ/bt5dhqtf/286/)
2) enter data in all fields of step 1, this will unlock step 2
3) enter data in all fields of step 2, this will unlock step 3
4) go back to step 2, clear any mandatory field
5) go to step 1
6) See that step 3 is accessible while step 2 does not validate.

[2017-08-22 07:37] cristijora commented on #37
Thanks for reporting @Doodlepants
Maybe all steps between step X and step Y should be validated if X < Y.
So in this case, when going from 1 to 3, both step 1 and 2 should be validated. What do you think ?

[2017-08-22 21:53] Doodlepants commented on #37
A good approach is often the simplest.  I don't think re-validating intermediate steps is overkill.
This validation could be done of all subsequent steps when going back to a previous step, it has the added bonus of providing each steps with an accurate feedback.  Be it Ok / Error / Unavailable due to previous step error.
I'd be happy to provide some schematic or help ( if I can, git is still very

[2017-08-23 06:44] cristijora commented on #37
Sure. Any help would be appreciated. I'm wondering where should the validation stop in the case discussed above:

So we have
*1* 2 3 4

Step 2 is invalid and the user is on step 1. He wants to go straight to 3 but 2 is invalid. I am assuming that after validation he should be redirected to the first invalid step,

1 - > 3
1 *2* 3 4

[2017-08-24 14:29] pvmeerbe commented on #27
I just found this component and was able to successfully use it (thanks  for the nice work).

However, the current implementation of footer does not allow to reuse the existing buttons and functionality while adding a new button such as a 'cancel' button. Instead one has to redefine the complete footer section and behavior.

From what I understand a 'slot' is only meant to define either the defaul

[2017-08-24 18:06] cristijora commented on #27
@pvmeerbe I see your point but you will have little control over the button and the position of the button you want to add. Let's try to make some examples of how you want it to be @pvmeerbe  @vxzry

[2017-08-27 17:47] vxzry commented on #27
I just want to add a simple cancel button on the first step
Im having trouble calling the finish method for the submit button
https://jsfiddle.net/vxzry/ad49b9aa/1/

[2017-08-28 15:54] cristijora commented on #37
I will find some time to do this by the end of the week.

[2017-08-28 16:29] cristijora commented on #37
Actually this seemed quite easy to implement (5 lines of code 😄 )

[2017-08-28 17:35] cristijora commented on #27
@vxzry See this updated example. It was a bug in the code. A wrong event was fired when `nextTab` method was called when you were on the last step.
https://jsfiddle.net/CristiJ/uppptbh0/3/

[2017-08-28 17:39] cristijora commented on #27
@pvmeerbe According to your suggestion, I added 2 slots for custom buttons.
https://jsfiddle.net/CristiJ/uppptbh0/11/

Also, all button slots can be used both as simple or scoped slots

[2017-08-28 17:41] cristijora commented on #37
@Doodlepants See the same fiddle from above. It should validate all steps when going from a step to another where the difference between them is greater than 1 step.
https://jsfiddle.net/CristiJ/bt5dhqtf/286/

Therefore, you will not be allowed to jump to any step without validating everything which I think is good

[2017-08-28 17:41] #37 closed

[2017-08-28 17:41] #27 closed

[2017-08-29 07:47] Sobient opened #38 "Support other icons than themify"
From the looks of it, Themify icons are used. However, for users that want to support material icons or font awesome, there doesn't seem to be a way to do that (yet).

[2017-08-29 07:53] cristijora commented on #38
Form-wizard will work with any icons that can be used as classes
Here is an example with font-awesome icons
https://jsfiddle.net/bt5dhqtf/891/

[2017-08-29 08:01] Sobient commented on #38
Aye, I actually found that out after using this module. Hence:

`<tab-content title="Choose customer" icon="fa fa-search">` worked flawlessly. Thanks for the quick response!

[2017-08-29 08:03] cristijora commented on #38
No problem. Happy coding!

[2017-08-29 08:03] #38 closed

[2017-08-29 11:38] Sobient opened #39 "Support for sizing the step indicators"
For this it seems that there is no property to control the size of the step indicators, unless one overrides them with CSS.
A "size" attribute with values like "xs, sm, md and lg" that would resize the circles and the icons inside, would go a long way to remedy this and also allow for quite the flexibility.

I've attached some images to illustrate what I mean (these are just examplary values)

##

[2017-08-29 12:17] cristijora commented on #39
Greatly formatted issue. Very clear and straight to the point!
Will try to find some time this week and add a new prop for this.

[2017-08-31 04:29] MatthiasHertel opened #40 "tab-content :before-change params"
hi,

is it possible to retrieve the following params in the :before-change methods.

- prevIndex
- nextIndex

because i want show for each tab-content an info pannel outside the vue-form component and i dont know how can i retrieve the current and the intendend tab-content-index.

thanks for helping
matthias

[2017-08-31 04:36] MatthiasHertel commented on #40
furthermore:

i have implemented it in in the form-wizard a `@on-change` method called `renewInfo` , see here:

[code]

and now in the in the renewInfo i can retrieve the `prevIndex` and `nextInfo` ... it works but...

[code]

if the tab-content is valid - the infopanel would switch ... but not the tab-content (just if i clicked on the wizard-nav cycles, on the buttons the tab-switch will initiate

[2017-08-31 05:53] cristijora commented on #40
Sorry for that @MatthiasHertel  but the last part of the issue is not very clear for me. Would you be willing to make a jsfiddle with what you have or at least the idea behind what you want to implement?

[2017-08-31 06:47] MatthiasHertel commented on #40
hi chris ,

first of all - thanks for the quick reply

use-case:

i would like to display a description field for the respective tab content.

here is the fiddle:
https://jsfiddle.net/rjadm584/1/

there are 3 tabs ... and 3 info panels ... if the user is on tab1 the infopanel 1 is shown and so on.

the problem is , if i clicked on the pills in the nav and the form is valid it does not switch the t

[2017-08-31 07:06] cristijora commented on #40
For me on chrome, the tab-content switches both when clicking the buttons as well as the circles.
Regarding the second part, isn't it easier to display the info together with each form? This way you won't have to deal with additional logic of showing/hiding it. Like this
https://jsfiddle.net/rjadm584/4/

[2017-08-31 07:12] MatthiasHertel commented on #40
i know its easier ... the problem is i want show the infopanel in another column

[code]

[2017-08-31 07:29] cristijora commented on #40
Hm then I don't know a clean way of doing this since the current on-change executes before changing tabs.

I have 2 options in mind which I could implement today

Option 1
[code]

Simply wrap the content in a scoped slot. The functionality would be the same but you will have access to some information from the wizard (e.g activeTabIndex,  isLastStep, nextTab , prevTab methods)

Option 2.
[code]

F

[2017-08-31 07:50] MatthiasHertel commented on #40
hm, i think option 1 is more universally usable with the access to the information from the wizard

but how it will work ? (sorry i am a vue new be)

how can i inject the respective tab-description to col-md-3 from the vue-form-wizard>tab-content?

[code]

option 2 is for me more understandable

[code]

[2017-08-31 08:54] cristijora commented on #40
I think I will implement them both since they might have different use cases. Indeed the second option would be more suited for your use-case

[2017-08-31 09:00] MatthiasHertel commented on #40
great thanks!

[2017-09-04 13:33] hydraheim commented on #40
There seems to be a bug with :before-change. If you throw in a parameter with the function call, it gets loaded at least twice.

JSFiddle: https://jsfiddle.net/55pwdzaq/

[2017-09-04 14:24] cristijora commented on #40
@hydraheim by default before-change is without parameters.

If you need parameters, use an arrow function which calls you function instead.
[code]
See updated fiddle
https://jsfiddle.net/55pwdzaq/3/

[2017-09-04 16:54] cristijora commented on #39
I made a fiddle for the latest changes
https://jsfiddle.net/CristiJ/bt5dhqtf/924/

It might not work right away because of browser cache so you might want to open it in incognito or something like that.

[2017-09-04 17:34] cristijora commented on #40
@MatthiasHertel Here is an updated fiddle for your example
https://jsfiddle.net/CristiJ/rjadm584/21/

I changed the current `on-change` event so it's called only when tabs actually change not before they change. This is not yet published to npm and you might need to do a hard page refresh once you load the fiddle so the new version of form-wizard is downloaded correctly.

[2017-09-04 17:46] cristijora commented on #40
There is also a simple option if you want to keep in sync the current active index
https://jsfiddle.net/CristiJ/rjadm584/29/

You could
[code]
You can choose whatever seems easier for you

[2017-09-04 22:04] Sobient commented on #39
Very nice. Has this been pushed to NPM?

[2017-09-05 06:17] cristijora commented on #39
Not yet, Will publish it today

[2017-09-05 07:19] hydraheim opened #41 "[Question] How is @on-validate supposed to work?"
Looking at the docs, there is very little outlining how this directive works. What does it run through and what alters its outcome? Hence:

[code]
Would always yield "isValid" as true.

Reference: https://cristijora.github.io/vue-form-wizard/#/?id=async-validation

[2017-09-05 07:54] Sobient commented on #40
If a "false" is never returned from a before-changed function, the error "t is not defined" will show in the console. Suggestion: Always assume false unless an explicit "true" has been returned.

Fiddle: https://jsfiddle.net/zgrxrok5/

[2017-09-05 08:01] cristijora commented on #40
@Sobient I could do that but for me this explicit returning creates more predictable and readable code.

[code]

So in this case, with the explicit returns it's pretty clear that if the step is 0 and the name has length > 2 the validation succeeds and in other cases, when the step is not 0 the validation fails.

[2017-09-05 10:57] cristijora commented on #41
https://jsfiddle.net/bt5dhqtf/927/

`on-validate` is called whenever a certain step has a `before-change` function and this function is executed.
It's basically called whenever there is a validation of a certain step with the result of the validation.

[2017-09-05 11:33] MatthiasHertel commented on #40
https://jsfiddle.net/CristiJ/rjadm584/21/

@cristijora thx great ... from me the issue can be closed

[2017-09-05 11:40] cristijora commented on #40
Will close this when I publish to npm later on today

[2017-09-05 13:56] Sobient commented on #40
Well, there are properties that gets defaulted, like "subtitle" or "title", so why shouldn't the beforeTabSwitch function (if declared as a directive) not require you to return true in order to proceed?

For instance, vuejs' router require you to call next() when using the beforeEach method (i.e authentification on routes), otherwise route propagation will never work. Docs: https://router.vuejs.or

[2017-09-05 14:14] hydraheim commented on #41
Right, it seems your example uses some sort of third-party form schema generator and validator, which upon you use the result of validate() to further propagate your handleValidation outcome.

At the moment we're using bootstrap-vue to generate the forms, with Vuelidate as a validator. Unsure if the reactive validation object Vuelidate generates can be directly connected without explicitly checkin

[2017-09-05 14:17] cristijora commented on #41
What about Validation groups ?
https://monterail.github.io/vuelidate/#sub-validation-groups

[2017-09-05 16:43] cristijora commented on #41
@hydraheim Here is a basic fiddle for Vuelidate.
https://jsfiddle.net/CristiJ/bt5dhqtf/952/
It's not very good looking because I made it in like 5mins but you can have form groups and validate a "group" of inputs, the group being the set of inputs from one of your "tab-contents"

[2017-09-05 19:23] cristijora commented on #39
Release [0.6.5](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.6.5)

[2017-09-05 19:23] #39 closed

[2017-09-05 19:23] cristijora commented on #40
Release [0.6.5](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.6.5)

[2017-09-05 19:23] #40 closed

[2017-09-07 00:10] gazben opened #42 "Generate steps with v-for"
Hi,

When I use v-for to generate the steps I end up with the steps mixed up. The generated ones are always the last.

[code]

The generated steps in order:
  - Hello
  - Bye
  - Step1
  - Step2

Did I miss something?

[2017-09-07 07:13] hydraheim commented on #41
Thanks for looking into that.

Already looked at validation groups, but referencing the [docs ](https://monterail.github.io/vuelidate/#sub-validation-groups ) there doesn't seem to be any support for validating several isolated groups (which would correspond to step 1, step 2, and so on). There might be, but the docs leaves some things to be desired.

[2017-09-07 07:22] cristijora commented on #41
Well I think you should have 1 group per step :)
If you want to validate 2 groups I guess you should create 2 and validate them together in a function
Here is the validation for one group
[code]

For 2 or more you can save them in some array
[code]

Anyway, those are vuelidate specific details. Form-wizard was not built with a specific validator library in mind. It exposes the `before-change` func

[2017-09-07 07:41] gazben commented on #42
@cristijora Somehow this works:

[code]

The generated steps in order:
 - Hello
 - Step 1
 - Step 2
 - Bye

Should I use it this way?

[2017-09-07 08:05] cristijora commented on #42
Yes. That's pretty much what I suggested. Keeping everything inside v-for. Just for simplicity, I would put everything inisde your `pages` array so you end up with this only
[code]
Found an example.
https://jsfiddle.net/bt5dhqtf/973/

You can easily use `component :is="componentName"` and define each step in separate components if you have a more complicated wizard. Then simply define a component

[2017-09-07 08:06] cristijora commented on #42
Maybe I should update docs with this example since I would recommend the following approach from the last fiddle as it can cover many cases and it's pretty clean.

[2017-09-07 21:37] alienatorZ opened #43 "Cancel Button"
I would like to request a way to cancel out of the wizard.

Maybe in addition to Next and Back there Is a Cancel Button.

[2017-09-07 22:04] cristijora commented on #43
Hey @alienatorZ There was an issue about buttons
Here is an example of how you can add buttons near "Next" or "back" buttons
https://jsfiddle.net/CristiJ/uppptbh0/11/

You can also fully customize  the footer section which is harder to do but then you could arrange how you want
https://jsfiddle.net/bt5dhqtf/717/

[2017-09-08 07:57] Sobient opened #44 "[Question] How do one manipulate the step index?"
Basic case in point:
- User follows the form wizard to complete an article.
- After the form has completed, the user is presented a selection of actions, one of which is to create another  article.
- User clicks "Create another article" is sent back to the first step of the form vue wizard.

[2017-09-08 08:25] cristijora commented on #44
@Sobient Currently you can do this only via `$refs`

[code]

Internally the wizard has ` navigateToTab` methods which accepts an index. This method is the same method used when clicking on a step.
https://github.com/cristijora/vue-form-wizard/blob/master/src/components/FormWizard.vue#L236

Here is an example also
https://jsfiddle.net/bt5dhqtf/982/

Complete the steps and on the last step there is

[2017-09-08 16:02] alienatorZ commented on #43
Ok Thanks!

That works!

[2017-09-08 16:02] #43 closed

[2017-09-08 16:25] Sobient commented on #44
Thanks, that seems to do the trick.

[2017-09-08 17:42] #44 closed

[2017-09-11 12:44] pimboden opened #45 "Call steps asynchronously"
Hello.
I'm trying to load my step-templates only when they are clicked.
Some of my steps have to load some data through ajax after loaded.

Right now, every steps is getting the data in the "created" life cycle of vue.

But I would like them to get the data only when the step becomes active. I there a way to do that. I haven't found anything in the documentation

Thanks for this fantastic componen

[2017-09-11 14:27] cristijora commented on #45
Hi @pimboden
There is no "out-of-the-box" solution for this but from what you described I think there are a couple of ways to achieve this. I will make a fiddle example. There is an `on-change` event which you could use. I will try to make a fiddle

[2017-09-11 14:43] cristijora commented on #45
I made a fiddle based on one of the examples in the docs
https://jsfiddle.net/CristiJ/bt5dhqtf/1025/
Just go to the second step and wait for a second. After 1s, the fields will be populated as if you made a request to some server. This can be improved by making the request only once. `if(nextIndex == 1 && step1DataRequested)`
I was thinking about a better solution I could implement which would use

[2017-09-11 15:17] cristijora commented on #45
Thinking a bit more about this, I think adding scoped slots for tab content is the best approach.
You will be able to do something like this
[code]

Which will trigger `step1` to re-render each time step1 is activated which will always trigger the `created/mounted` hooks inside step1

Here is a fiddle more close to your example I think
https://jsfiddle.net/CristiJ/bt5dhqtf/1043/

[2017-09-11 16:04] cristijora commented on #41
I made a more complete fiddle @hydraheim
https://jsfiddle.net/CristiJ/bt5dhqtf/1119/ and will add it to the other examples from the docs.

[2017-09-11 16:12] #41 closed

[2017-09-11 16:12] #42 closed

[2017-09-11 16:13] cristijora commented on #45
Released [0.6.6](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.6.6)

[2017-09-12 10:44] hydraheim commented on #41
Will delve into the example once we revisit this for refactoring. Highly appreciated for the hard work here, rare for issues that reside outside the main component. This is above and beyond, sir.

[2017-09-12 11:16] cristijora commented on #41
Glad I could help @hydraheim As a side note, the example from above was added to the readme. Maybe it helps other people too. Also I used bootstrap in it to keep it simpler but shouldn't be an issue. Let me know if it works out in the end and if you had to do other changes so I can update my example as well. I didn't use vuelidate too much, so I might not know the best practices for it yet.

[2017-09-12 14:46] pimboden commented on #45
Thank you.
Your fiddle helped me resolve the issue!

[2017-09-12 15:19] #45 closed

[2017-09-14 07:03] pimboden opened #46 "WAI-ARIA / Keyboard support"
Hello.
Is there any plans for adding keyboard  and/ or  WAI-ARIA support for this wizard?
Or is there a way I can already add them via some template I don't know yet?

[2017-09-14 07:08] cristijora commented on #46
Hi @pimboden For what exactly do you need keyboard support ?
Regarding your question: Yes, I would like to do it soon.

[2017-09-14 07:17] pimboden commented on #46
Hi @cristijora
Well just basic support , like back and next button click.

[2017-09-14 09:45] cristijora commented on #46
@pimboden Some parts should be possible to make with a bit of styling.
https://jsfiddle.net/bt5dhqtf/1166/

I have to read a bit more about aria support. If you can provide any help, it would be great :)

[2017-09-14 16:10] StevenHill2500 opened #47 "Reset wizard"
Hi there, this is my first post on Github, i apologise in advance if this is the wrong place,

I have checked the documentation, but is there any function to reset the wizard back to start (the first point)?

My issue is that when a user clicks into an "item", he is presented with the wizard. IF he goes through a couple steps and goes back to a different "item", the last stage they were at remains

[2017-09-15 01:54] un-matthewdavis commented on #18
Any more feedback on this issue? I'd be keen to have the ability to dynamically insert tabs based on the current tabs status. I'd only need to add/remove tabs in front of the current one, not behind.

[2017-09-15 08:29] cristijora commented on #47
Hi @StevenHill2500 I think there was an issue for this already.
#44

Here is a fiddle
https://jsfiddle.net/bt5dhqtf/982/

Go to the last step and there is a start again button which basically does this.
[code]

`this.$refs.wizard.navigateToTab(0)` Will navigate to the first step.

[2017-09-15 08:35] StevenHill2500 commented on #47
Hi @cristijora

Thank you ever so much! it works perfectly :)

You can mark this issue as resolved / closed.

Thanks again

[2017-09-15 08:35] #47 closed

[2017-09-15 11:38] pimboden commented on #46
Well I would keep it simple...
I added some aria-tags and  some roles like they kind of would make sense for me...

	<div class="wizard-header">
		<h4 class="wizard-title">Awesome Wizard</h4> <p class="category">Split a complicated flow in multiple steps</p>
	</div>
	<div class="wizard-navigation">
		<div class="wizard-progress-with-circle">
			<div class="wizard-progress-bar" style="background-co

[2017-09-17 21:17] cristijora commented on #46
@pimboden This is pretty much done. You can check it on this example
https://jsfiddle.net/CristiJ/bt5dhqtf/286/

You should be able to navigate between steps with **Tab** and **arrow keys**. Pressing enter on one of the steps will try to navigate to the corresponding step and validate it before. I also added focus support for the buttons (prev, next, finish)

[2017-09-17 21:23] cristijora commented on #18
@un-matthewdavis This is partially supported. It might not work as expected in some situations. It should be more or less reliable when you use an array to generate all steps rather then combine static html + a v-for

See this example as a reference https://jsfiddle.net/bt5dhqtf/1185/

[2017-09-17 21:24] #25 closed

[2017-09-17 22:35] mjcombalicer opened #48 "Question: Disable everything on load"
Hello,

I just wanted to ask the best way of loading the form with disabled fields and next step button and have an 'edit' button to enable all the fields?

The scenario is that if multiple users have opened the same record at a time one user should be able to edit the record and fires off an event to notify the others that the record is currently on edit mode.

Thanks!

[2017-09-18 06:16] pimboden commented on #46
Hello @cristijora . Looking good..
The only "problem" I see is the aria-labelledby, as far as I know It should have the Id of the Label or element that has its title . That's why in my sample I introduced Id's id="stepTilex"  to the spans.

Thanks a lot for doing it so fast!

[2017-09-18 07:24] cristijora commented on #48
Hi @mjcombalicer

The fields should be trivial to disable but it depends on what you use for forms.
Here is an example with vue-form-generator.
https://jsfiddle.net/bt5dhqtf/1200/

The wizard buttons however might be trickier since you have to redefine the buttons with a scoped slot yourself.  https://cristijora.github.io/vue-form-wizard/#/?id=footer-slot
It might be a bit of boilerplate for the w

[2017-09-18 07:31] cristijora commented on #46
Thanks for the feedback.
Regarding your last question, tab panels already have aria hidden attributes.
Tabs already have aria-selected="true" for the current selected tab but the aria-disabled property is not fully working.

Regarding your first question, I will re-check it. When it comes to id's, I use the tab `title`. Will have to trim spaces.

PS: It's not greedy since I'm not the most familiar

[2017-09-18 09:49] pimboden commented on #46
Please let me know when you're done so I'll give it a try with the screen reader.

[2017-09-18 16:27] cristijora commented on #46
@pimboden As a side question, I'm thinking of disabling the possibility to navigate to a not visited step.
Currently if you start a new wizard, you can't really click the steps until they are visited through next button.
I allowed doing this in the current implementation to support navigation through steps but this will have some side effects/inconsistencies and I'm thinking to leave the behavior

[2017-09-18 21:34] mjcombalicer commented on #48
Thanks @cristijora,

Your example is perfect as I am using vfg.

In terms of a proposal, can I ask what you mean? Please excuse my ignorance as I'm fairly new to this.

[2017-09-18 21:39] cristijora commented on #48
I was asking whether you have a proposal on how to improve this. The downside of the implementation I showed you is that you have to redefine the footer content.

I was thinking of maybe providing a disabled prop for `tab-content`
`<tab-content disabled>` which would disable the next and prev button

[2017-09-19 05:36] pimboden commented on #46
Hello @cristijora .
I actually am happy with that behavior (not being able to navigate to a not visited step). I mean, It is a Wizard... for the behavior of supporting navigation through steps , I would rather use tabs (I saw you also have a tab component :)  ... haven't used it though)

[2017-09-19 12:58] amitneg1 commented on #22
Hello There,
I am also working on this and need vertical tab support. Please let us know how soon you can roll out this support.

[2017-09-20 07:48] cristijora commented on #22
Hi @amitneg1 I will give it a shot this week probably and see how it goes. Last time I tried, it was not very trivial to do so I left it for later on.

[2017-09-21 12:46] mjcombalicer commented on #48
Hi @cristijora

I see what you mean now.

From how I see it I think it is best if there is hierarchy to it.

For example with my question, the form itself will be loaded on disable. I think a disabled option within form-wizard (I'm just guessing here) should be available and all tab-content will inherit that property.

Then for tab-content is something you mentioned above which means that all fiel

[2017-09-22 09:46] zhang-yafei commented on #18
Hi @cristijora ,
I have a problem.I have a question array,The number of questions is unknown, The number of answers is unknown(input type have text and checkbox and radio).

I want to dynamically generate step component,but I got a problem when I verified.I do not know how to verify(checkbox and radiobox).

I've seen you write ReadMe.md,I have more style in my vue file,
I want if can return a curr

[2017-09-22 09:54] cristijora commented on #18
Hi @zhang-yafei
The most simple way
https://jsfiddle.net/Lsmjrpeq/15/

Is to add `:start-index.sync="stepIndex"` on the wizard. The stepIndex will be synced and will be changed whenever the wizard goes to another step.

Another option would be `on-change` event
https://cristijora.github.io/vue-form-wizard/#/?id=events

[code]

Based on that you can access your `arrayData`

[2017-09-22 16:46] zhang-yafei commented on #18
Thank you.I will try to solve it.Thanks again for your reply

[2017-09-26 06:04] NoCodeNoMore opened #50 "Dynamic route params with vue-router"
Hi!

Has anyone used vue-form-wizard with route params such as :id?

Unfortunately to see the problem you have to run locally https://jsfiddle.net/6st2jybr/ but maybe somebody has already solved the problem.

I try to pass :id as routeparam front of :id/first, :id/second in
`      <tab-content title="Additional Info"
                   route=":id/second"
                   icon="ti-settings">`

No

[2017-09-26 13:46] NoCodeNoMore commented on #50
Sorry, my bad
 ` :route="`/route/${$route.params.id}/first`"`
does the trick

[2017-09-26 13:46] #50 closed

[2017-09-27 02:27] zhang-yafei opened #51 "Customize Navigation"
My site needs to be able to run on the mobile，At this time the top navigation icon is too big.

I want to hide the navigation，but keep tap-content and button.
![navigation](https://user-images.githubusercontent.com/19721688/30893001-54e0ed6e-a36e-11e7-985f-b1cb14b74b86.png)

[2017-09-27 08:02] amitneg1 commented on #22
Hi @cristijora Any update on vertical tab support.  As you said you will work upon it last week

[2017-09-27 08:24] cristijora commented on #51
Not sure I fully understand the issue but you can make the navigation icons smaller
https://jsfiddle.net/CristiJ/bt5dhqtf/924/

[2017-09-27 20:01] cristijora commented on #22
Hey @amitneg1 @exnihilo-creatio
I will implement this step by step.
First step results
https://jsfiddle.net/bt5dhqtf/1241/

For now the progress bar is not shown yet as I have some troubles displaying it properly.
@amitneg1 can you give any tips on where and how should the buttons be placed?

[2017-09-28 02:34] zhang-yafei commented on #51
yes,I know the style.
But on the mobile side generally do not show as icon navigation,show drop-down list navigation.

I would like to know if I can customize the navigation.Such as incoming parameter jumps to the specified tap-content.May be better

[2017-09-28 12:49] amitneg1 commented on #22
Hey @cristijora

Thanks for quick reply, Please have a look at attached image for layout reference.

I doesn't need any progress bar and icons to show steps. Instead of icons and progress bar I will show vertical bar (as you can refer attached image) and on click of bar that specific section would get open like an accordion. That's it.

My requirement is as below:
There should be one "Save and Con

[2017-09-28 17:01] cristijora commented on #22
@amitneg1 We would probably need a new css theme for this as it's totally different from what this plugin currently has. If you don't have too much time to wait, maybe you should consider using other components such as https://vuetifyjs.com/components/steppers

Any PR with help will make the process faster.
PS: Maybe we could start from the "tab" shape
https://jsfiddle.net/bt5dhqtf/1249/ and basic

[2017-09-29 00:03] ReynerHL commented on #47
Is there anyway to reset the wizard to its initial state? I mean, how can we mark all those steps already visited as not visited again.

[2017-09-29 11:08] Donaldini commented on #46
I've found an 'issue' that might be related, if not I can create a separate issue.

The wizard navigation links have a css class that put a _pointer_ cursor on it when hovered.
However this is default behaviour for the `<a>` tag **IF** used properly.

[code]
The reason I found this is because the _pointer_ cursor is also being shown on the items that are not clickable. Therefore they shouldn't hav

[2017-10-01 07:46] cristijora commented on #51
@zhang-yafei Could you take a look at https://github.com/cristijora/vue-form-wizard/issues/22
Is this
https://user-images.githubusercontent.com/15609894/30966915-3158b146-a478-11e7-81cd-a7edb53eb70e.png

something similar to want you need for mobile?

[2017-10-01 07:49] cristijora commented on #48
@mjcombalicer After looking a bit into this, I think sticking to the initial example I gave above would be the best idea. Adding stuff on top of it would only make it harder to maintain.

[2017-10-01 07:49] #48 closed

[2017-10-01 08:03] cristijora commented on #46
Released [0.7.0](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.7.0) with keyboard support and a bugfix for the issue mentioned by @Donaldini

[2017-10-01 08:03] #46 closed

[2017-10-01 08:06] cristijora commented on #18
Closing this since it's out of scope for now.
Dynamic tab contents are supported if used all together in a v-for. There is an example in the readme already https://jsfiddle.net/bt5dhqtf/1251/

[2017-10-01 08:06] #18 closed

[2017-10-05 06:21] theKhorshed opened #52 "How to always enable the click event on nav pills?"
I really like the vue-form-wizard component, great works!

I would like to enable the nav-pills for the tabs to be always clickable and users can go to any step by clicking on any nav-pill.

The current behavior is when a user visits some tabs only then the previous nav-pills become clickable.

Please shed some lights on this.

Thanks in advance

[2017-10-05 09:13] pimboden commented on #52
I think this should not be part of a wizard... If you need that, then you should use normal tab control... A wizard should guide you forward.. see the [vue-tabs](https://github.com/cristijora/vue-tabs) from @cristijora  .
I mean, if @cristijora  is implementing this, then it'll need to be configurable... because for my use case it would be actually wrong if the user can click any the step.

[2017-10-05 09:26] cristijora commented on #52
@pimboden thanks for the answer. I wanted to write the same thing.
Although I agree with this, maybe there are use cases where you want to show a wizard for informational purposes.
This behavior @theKhorshed can be achieved with scoped slots and some custom logic but I wouldnt include it as a prop/option in the wizard as its not a default expected behavior as @pimboden said

[2017-10-05 09:50] theKhorshed commented on #52
Thanks for your reply and you guys are right.

Actually, I need this the default wizard behavior when a user submits the form for the first time and also the tab like behavior when the users come back to edit the form later.

I'm doing this right now via the following code on mount
`
this.$refs.wizard.changeTab(0, 3)
this.$refs.wizard.changeTab(3, 0)
`
Let me know if there is any better approach.

[2017-10-05 09:58] cristijora commented on #52
Yes @theKhorshed that can be an option. Another more generic option would be this one
[code]

[2017-10-05 10:19] theKhorshed commented on #52
Thanks a lot @cristijora

[2017-10-07 07:37] rahulsingh9096806080 opened #53 "Want to write callback function on next button"
I want to write callback function next button.How can i proceed

[2017-10-07 13:42] cristijora commented on #53
There are a couple of demos in the readme with this. You can write both callbacks or promises for each tab content https://jsfiddle.net/bt5dhqtf/105/

[2017-10-08 10:59] rahulsingh9096806080 commented on #53
in case of any callback if i am passing any value then callback is fired before click.
below is fork
https://jsfiddle.net/xoenp468/

[2017-10-08 11:44] cristijora commented on #53
I see. This happens because the function is basically invoked when the component is rendered.
Use an arrow function in this case.
```:before-change="()=>beforeTabSwitch(1)"```
https://jsfiddle.net/xoenp468/1/

[2017-10-08 11:55] #52 closed

[2017-10-09 17:00] SmarterPhoneLabs opened #54 "Dynamic tab-content"
Hi this may have been answered elsewhere, but I cant find where.
I have a security system implemented in my app where certain tabs are disabled if users cant access them.
How I have set this up is with v-if statements inside the tab-content items.
Technically, this works, however the problem is that its messing with the navigation item size.

For example:
I have 3 total tabs
Tab 1 is wide open
Tab

[2017-10-12 10:15] cristijora commented on #54
This makes sense @SmarterPhoneLabs
This requires an implementation in order to work as you want.
I would imagine something like this.
[code]
I would be really glad if you could make a PR (of course if you want to)
The implementation of the disabled option would basically require a prop for `TabContent`
and some adjustments on the `nextTab/prevTab` methods
https://github.com/cristijora/vue-form-wiz

[2017-10-12 10:17] cristijora commented on #54
A more simplistic option which doesn't require any implementation would be this one
https://jsfiddle.net/bt5dhqtf/1319/
which simply hides steps based on a value

[2017-10-12 10:18] #53 closed

[2017-10-13 04:12] Chinese1904 opened #55 "How to access activeTabIndex in parent/sibling components?"
Hi there,

I am struggling to figure out how to use `activeTabIndex` outside of the `form-wizard` component. Is there any simple example on how to access it outside of that scope? Sorry, if this is a silly questions, I just can't come up with an answer without modifying the source code...

Chris

[2017-10-13 04:19] Chinese1904 opened #56 "Animations for tabs on change?"
Last but not least, I do have one more question. Haha

Has anyone tried to accomplish tab animations? Just simple fade in and out animations of the actual `.wizard-tab-content` ?

I think those would look great! :-)

[2017-10-18 19:47] cristijora commented on #56
Hey @Chinese1904 This unfortunately is not possible now unless you use vue-router
https://jsfiddle.net/bt5dhqtf/267/

I started working on an upgraded version (more internally) which will allow transitions for the content

[2017-10-18 19:48] cristijora commented on #55
You can use `.sync` modifier on `:start-index` and it will sync the `activeTabIndex`
There is also an event `on-change` which is called whenever you navigate from one step to another.

[2017-10-18 19:50] cristijora commented on #22
Update here to everyone @amitneg1 @exnihilo-creatio
This feature is not possible to do with the current implementation.
I started working a new enhanced version (mainly technical improvements) and rewrite with render functions which will allow implementing this feature easily but that won't happen sooner than 2 weeks.

[2017-10-19 19:18] silvio-e opened #57 "The "scope" attribute for scoped slots has been deprecated"
Hey!

Just want to notify that in the docs you still use the scope attribute which results in following warning:

`(Emitted value instead of an instance of Error) the "scope" attribute for scoped slots have been deprecated and replaced by "slot-scope" since 2.5. The new "slot-scope" attribute can also be used on plain elements in addition to <template> to denote scoped slots.`

for example when us

[2017-10-24 15:40] ChambreNoire opened #58 "Many many TabContents"
Hi,
I'm working on a rather large multi-step form (hundreds of questions) with conditional logic (steps hidden based on the responses to questions in previous steps) and 'mid-way' saving. My question pertains to the use of TabContents. As I understand it *all* the supplied tabs are rendered into the dom (barring hidden tabs). Is there a particular reason for this choice (rather than just switching

[2017-10-25 06:20] cristijora commented on #58
hi @ChambreNoire
There are some technical details why all tab contents are rendered. The main reason all of them are rendered is because they are inside a `slot` and the wizard has to know the titles of all tab contents. If you really need one at a time you could try to make a fork and change https://github.com/cristijora/vue-form-wizard/blob/master/src/components/TabContent.vue#L2 to `v-if`. This

[2017-10-25 06:21] #55 closed

[2017-10-25 08:58] Donaldini opened #59 "Cannot focus on buttons"
I think the tabIndexes were changed to -1 because of this item https://github.com/cristijora/vue-form-wizard/issues/46.

This makes it now impossible to tab on the next and back buttons. Was there a reason to add this?
I can no longer go through the form using only keyboard.

[2017-10-26 15:14] ChambreNoire commented on #58
Thanks. I've spent some time looking at the sources and I see it now. However I'm still unsure about how one can implement step branching - by which I mean hiding/skipping steps based on data inputted during previous steps. Your asisstance would be most appreciated!
Cheers,
A

[2017-10-26 16:11] silvio-e commented on #58
@ChambreNoire I made a simple branching with template elements based on a chosen value like:

[code]
The template elements won't get rendered.

[2017-11-02 15:59] cristijora commented on #58
@ChambreNoire some code samples with what you have would help

[2017-11-02 16:04] cristijora commented on #59
Actually it is possible to focus on buttons
https://codesandbox.io/s/98j2m8ool4
It works with `tab` key.

[2017-11-02 16:06] cristijora commented on #57
Hello @silvio-e Although I am aware of the upcoming depcration, many people still use older versions of vue. Will change this after some more time so people don't have issues with scoped slots not working on older versions due to the new syntax

[2017-11-06 09:23] skaka34 opened #60 "How to introduce a third button just beside next"
I want to add a third button called "Save and Exit" just beside the Next Button where an user can just fill the particular form and exit the form-wizard. ON clicking on the "Save and Exit", I want to fire an ajax call which will serialize the form data(tab-1) and save the data to DB. Also, on click of next, we should go to next tab and the data should be saved.

[2017-11-06 18:59] cristijora commented on #60
Hi @skaka34
There are 2 separate slots for this
https://cristijora.github.io/vue-form-wizard/#/?id=slots
Here is a small example
https://jsfiddle.net/bt5dhqtf/1396/

Depending on your use case, you could use `before-change` as a promise and resolve it with true or false depending on your app logic.
If you want to display the save button only after a certain step, you could use some of the exposed

[2017-11-07 18:04] ediaz-inteliti opened #61 "Mobile capable"
hello, first, thank you for your work. I am triying to setup the the wizard but when I test it in mobile, it dosn't adapt, it just look more smaller. I am using Bootstrap. My template looks like this:

[code]

[2017-11-08 17:43] cristijora commented on #61
Hi @ediaz-inteliti
There are a couple of options here.
1. If you want a mobile first look you could go with a vertical layout
https://jsfiddle.net/bt5dhqtf/1433/
2. You could also make the steps smaller based on screen size
https://jsfiddle.net/bt5dhqtf/1442/

If you wonder what is the resize stuff, you can find it out here
https://developer.mozilla.org/en-US/docs/Web/Events/resize

For now there

[2017-11-09 08:49] #51 closed

[2017-11-09 09:35] zhang-yafei commented on #51
I did not use components on the phone side.
This is My effect picture
![image](https://user-images.githubusercontent.com/19721688/32598158-e87ede06-c573-11e7-834b-c84560aeddd5.png)

[2017-11-09 09:51] cristijora commented on #51
So you used something else than form wizard?

[2017-11-09 10:08] zhang-yafei commented on #51
yes,Mobile-side navigation more customized.
Customer gave the UI picture,So I did not use wizard on the Mobile-side

[2017-11-09 12:23] richpollen opened #63 "Is it possible to change the back button color?"
Hi there - Is it possible to have a different coloured back button? Right now I can only set the over theme color for the steps and back / next buttons

Thanks

[2017-11-09 12:35] wszyf2100 commented on #63
yes，color，position，width，height..you can customize.

[2017-11-09 12:40] wszyf2100 commented on #63
You can see demo Customize buttons with footer slot，increase a class attribute

[2017-11-09 12:41] richpollen commented on #63
ah right, so just override the footer slot - thanks!

[2017-11-09 13:34] cristijora commented on #63
Hi @richpollen
You can use the `footer` scoped slot to have full control over the footer
Here is an example which defines 3 different buttons
https://codesandbox.io/s/81j2jyk3q9

In the docs you can see which properties are sent to the scoped slots
https://cristijora.github.io/vue-form-wizard/#/?id=scoped-slots

You have access to methods like `nextTab, prevTab` and some other properties including

[2017-11-13 11:53] #63 closed

[2017-11-13 11:54] #60 closed

[2017-11-13 11:54] cristijora commented on #60
It's also possible to customize the footer with your own layout where you could introduce as many buttons as you want or perhaps other tags/html

[2017-11-13 12:09] cristijora commented on #56
Hi again @Chinese1904

Coming with an update here.
You could use simple css animations on `tab-containers`
Here is an example with animate.css
https://jsfiddle.net/bt5dhqtf/1477/

[code]

[2017-11-15 15:19] #57 closed

[2017-11-16 11:11] RouR opened #79 "typescript definition required"
Pleas, add typescript definitions

[2017-11-16 15:24] cristijora commented on #79
@RouR I don't have too much experience with typescript so any general tips on how to do that would help a lot.

Would it be sufficient to add an `index.d.ts` file and define classes for
- FormWizard component
- TabContent component
- WizardButton component

and the component classes would be something like this
https://github.com/ElemeFE/element/blob/dev/types/tab-pane.d.ts

[2017-11-16 15:38] RouR commented on #79
I think yes.
I'm just studying Vue as it described in [official documentation](https://vuejs.org/v2/guide/typescript.html)

[2017-11-22 08:55] RedShift1 opened #100 "Tab subtitles"
Support for tab subtitles would be nice, [like demonstrated here](https://uxplanet.org/wizard-design-pattern-8c86e14f2a38):

![form-wizard-tab-subtitles](https://user-images.githubusercontent.com/3098010/33118157-37a7c618-cf6b-11e7-963e-f6825cbc9521.png)

Could probably be easily accomplished if HTML is allowed in the title. The subtitle can then be wrapped in a div (or whatever) and styled via CS

[2017-11-22 16:11] cristijora commented on #100
You can pretty much achieve this look by using the `step` slot
[code]

Example https://jsfiddle.net/bt5dhqtf/1564/

However the approach is pretty limited since you would basically have to do some checks.
If you iterate through the tabs to display them, then this could be quite easy with a method
https://jsfiddle.net/bzfb4p8u/19/

[code]

[code]

If you need something more flexible, feel free to o

[2017-11-22 17:00] #79 closed

[2017-11-22 17:00] #100 closed

[2017-11-22 17:00] #54 closed

[2017-11-22 17:01] #61 closed

[2017-11-22 20:04] ReynerHL opened #101 "Re start Wizard"
Is there anyway to reset the wizard to its initial state? I mean, how can we mark all those steps already visited as "not visited" again? Lets suppose we have a Wizard with 4 steps, and when we are in the second, then we would like to reset the wizard pressing an "Start over again" button. Thanks in advance.

[2017-11-27 14:48] cristijora commented on #101
@ReynerHL There is no predefined method for this.
You could do it like this
[code]
I will add a method so you can call it directly

[2017-11-27 14:56] #101 closed

[2017-11-28 02:33] joannesalfa opened #113 "How to unlock all steps?"
I need to know what's configuration to unlock all steps which is needed to edit the existing object.

Thanks.

[2017-11-28 07:03] cristijora commented on #113
Hi @joannesalfa You could do it via refs
There is no dedicated method for this yet
[code]
https://jsfiddle.net/bt5dhqtf/1594/

If you want, feel free to submit a PR with a method which does this or perhaps a prop to unlock steps

[2017-11-28 07:05] cristijora commented on #56
@Chinese1904 unfortunately due to some rendering limitations, it won't be possible to have explicit transitions. I have tried several options but without much success. I think we will have to stick to the solution from above with css.

[2017-11-28 07:05] #56 closed

[2017-11-28 07:05] cristijora commented on #58
Closing due to inactvity

[2017-11-28 07:05] #58 closed

[2017-11-28 14:33] EtienneR opened #114 "aria-controls value"
Hi,
Thx for your work.

When I check my page with [Axe](https://www.deque.com/products/axe/) extension, he returns violations about `aria-control` value because the`aria-control` value should be the same value than `id` value.

I use the 0.7 and I see the same problem in the official demo :  https://jsfiddle.net/bt5dhqtf/97/
(`id="t-Personaldetails0" aria-controls="Personal details"`)

[2017-11-28 15:07] cristijora commented on #114
Hi @EtienneR
I am a bit confused by this. Following this example http://accessibility.athena-ict.com/aria/examples/tabpanel2.shtml aria-control value should be the same as the `id` value of the panel `aria-controls="panel1"` while aria-labelledby should have the `id` of the tab.

[code]

I'll try to make it work like the example above if that's ok

[2017-11-28 15:57] #113 closed

[2017-11-28 16:24] cristijora commented on #114
Released under [0.8.1](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.8.1)
The fiddle above doesn't show the mentioned accessibility error anymore.

[2017-11-28 16:24] #114 closed

[2017-11-28 16:25] cristijora commented on #113
Released [0.8.1](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.8.1) which includes a method to activate all steps.
https://jsfiddle.net/bt5dhqtf/1598/

[2017-11-28 16:27] cristijora commented on #101
Released a new version [0.8.1](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.8.1)
which has a `reset` method.
Calling it will reset the wizard to the initial state. Note that this method resets the steps only and is not responsible for what you have in your forms.
`this.$refs.wizard.reset()`
https://jsfiddle.net/bt5dhqtf/1599/

[2017-12-01 18:09] joannesalfa commented on #113
Awesome, thank you!

[2017-12-04 10:24] ksidibe opened #121 "As a user, I need to be able to set the id attribute to the div that replaces the tab-content tag"
The current way (t.tabId=""+t.title.replace(/ /g,"")+e) of generating the id attribute makes it unusable for cases when you need a clear control over the id of the "div"s.
For example, before allowing the user to move forward or backward, I need to call a validation plugin  with one or more divs as containers which are validated. If the given divs are valid then the forward/backward movement is al

[2017-12-04 13:54] cristijora commented on #121
Hi @ksidibe. This could be implemented but you could simply place a div inside each `tab-content` and give it your own ids. Wondering what validation do you use since most validation libraries for vue work with components/refs

[2017-12-04 14:18] ksidibe commented on #121
Hey, @cristijora. The approach you suggested could work. Although, that would make the HTML markup more verbose (granted very slightly) with an extra set of "div" tags per tab-content.
Other than that, your suggestion will do the job nicely.
I use [http://formvalidation.io/](a jQuery plugin called FormValidation). For tabular/wizard-based forms, it allows you to  validate the current tab only if y

[2017-12-04 20:41] cristijora commented on #121
@ksidibe I would advise against such solutions (jquery validate) You will find yourself writing jquery based code where it shouldn't be.
Use a native vue validation solution instead. https://github.com/vuejs/awesome-vue#validation
I could recommend vee-validate or element-ui validation if you use that.
The problem with using such jquery plugins is that you tend to manipulate DOM which Vue tries to

[2017-12-05 16:19] ksidibe commented on #121
Hey, @cristijora.
Your points are valid.
But in our case, Vue is used in a much smaller subset of the code base. So, there are many more parts where we use this validation plugin.
In any case, whatever the use-case might be, I think vue-form-wizard is a very good Vue component that can be further enhanced by adding attribute processing functionality to it. for example, even being able to define th

[2017-12-05 19:40] cristijora commented on #121
Yeah, it doesn't hurt adding other properties on the tab-content.
If you have the time and patience, you could simply add an `id` prop to the `TabContent` component and set it if it exists.
```:id="id ? id : tabId "```

This would be a very simple fix.

Another option would be to pass attributes with https://vuejs.org/v2/api/#inheritAttrs option
which will allow passing other attributes as well

[2017-12-07 16:55] richardgvas opened #122 "Keyup enter event to change tab"
Hi there. Maybe this is a simple question but I'm trying to apply the keyup enter event in order to change to the next tab, but I can't find the way. I was trying to implement it in the template footer but there is no way:
[code]

thanks in advance.

[2017-12-11 16:29] mr337 opened #128 "Question: Pass info between steps"
I am starting to use the wizard and having a design question on how to pass info between steps. For example step 1, we use to get the ID of an object. In step 2 we want to load that object based on the info from step 1.

Not for sure what the best design to do that since children components don't normally talk to each other. There are some work around such as calling up with events and passing as

[2017-12-11 20:07] cristijora commented on #122
Hey @richardgvas
If you want to use the enter event, you need a form and use `@submit.prevent`
https://codesandbox.io/s/ry4q2o96no

Enter event is supported by form and inputs so there are not many alternatives here

[2017-12-12 20:51] cristijora commented on #128
Hey @mr337 The wizard doesn't come with any solution on this part. It's pretty much up to you if you use a global state or pass events from a step to another. I'd suggest having an individual component for each step and keep the necessary objects in the parent component where the wizard is located. I have an example somewhere in my projects. Will search for it and try to build a codesandbox demo s

[2017-12-14 20:15] webdevnerdstuff commented on #11
Please add a prop so we can pass in our own classes to the buttons.

[2017-12-14 20:42] cristijora commented on #11
@webdevnerdstuff you can use slots and use your owm buttons or add classes on top of the existing ones. See the examples from readme page.

[2017-12-14 20:49] webdevnerdstuff commented on #11
Ok I figured out where I was getting stuck. I'm not sure if it's because of our setup for the form, or if the documentation is off. But this solved my problem. Thanks for the quick response. :)

[code]
Should be
[code]

AKA... RTFM better :)

[2017-12-14 21:27] cristijora commented on #11
From vue > 2.5 it changed from `scope` to `slot-scope`. I, put `slot-scope` in the docs because most of the developers already use vue 2.5+. Will maybe add a notice there on this part

[2017-12-14 21:29] webdevnerdstuff commented on #11
You have it in your Compatibility section, I think it was more my lack of reading that part fully, not your documentation.

[2017-12-17 18:53] mr337 commented on #128
I appreciate it. Just to follow up on the implementation, pass info from parent component to each step via props and then have info passed back up on custom events? (https://vuejs.org/v2/guide/components.html#Using-v-on-with-Custom-Events)

Each step can post update an object on the backend API side, and then signal to the parent to refresh the object, this way the parent is always in sync with ea

[2017-12-19 12:27] cristijora commented on #128
@mr337 It can be much simpler than that.
You can simply call validation methods within child and emit events. https://codesandbox.io/s/l9mz5zn7yz

If you don't need validations in some components you could simply emit an event in each child component and in the parent merge the data.

[2017-12-19 15:51] ibanjo opened #135 "Events: prevent default behaviour"
Hi,
I don't know if I went wrong somewhere, but I cannot find anywhere in the documentation any caveat about using Vue's default event modifiers. What I'm trying to do is to show a confirmation popup when switching between tabs, and preventing the switch in case, say, some flag is set.
In my template I expect to write something like:

[code]

And, in the methods Object:

[code]

What I get is a `[

[2017-12-20 10:35] cristijora commented on #135
Hi @ibanjo
There is a difference between native events (e.g `@input` on `<input/>` tag or `@change` on some other native html tag) and custom Vue events which are emitted through `this.$emit`.

The native events have an `$event` object which is native from html/js and contains several options like preventDefault and so on. Vue simply has some wrappers around it with the modifiers you tried above `

[2017-12-20 10:39] ibanjo commented on #135
OK, sorry, I was not fully aware of this. I guess the only way to achieve a "confirm before change" behaviour is to use custom buttons instead of the default ones. Should I find an elegant (and relevant) workaround, I will post it here.

Thank you again

[2017-12-20 10:51] cristijora commented on #135
In order to achieve the behaviour you want, you need a bit more code to do that. You would mainly use slots for that. Probably both for steps and for navigation buttons.

Here is a starting point https://jsfiddle.net/bt5dhqtf/1696/

[2017-12-20 10:54] ibanjo commented on #135
Awesome, thank you again! Perhaps it might be helpful to introduce this example in the official documentation. Maybe it is not so unusual a feature to require.

[2017-12-20 11:53] Al3xR0 opened #137 "Hiding tab-content and showing it back doesn`t keep it`s position index"
I'm trying to dynamically hide a tab-content based on an option (`<tab-content v-if="foo === 'bar'" ...`), and the tab gets hidden. If I turn off the option the tab reappears but it doesn't keep it's position (initial tab position is 3/6, after reappearing it's 6/6). How can I fix this ?

[2017-12-20 12:57] cristijora commented on #137
Hi @Al3xR0 If you want predictable tabs, you have to use `v-for` and again `key` each tab.
https://jsfiddle.net/bt5dhqtf/1697/

[2017-12-26 13:19] HaifaM90 opened #143 "RTL wizard"
Dear Cristijora

Greeting
it's able to change the line direction of wizard from left to right? and also I want to add check function on each step it's applicable?

Haifa

[2017-12-27 13:29] Capellan29 opened #144 "Generic type 'Promise<T>' requires 1 type argument(s)"
In the tab content type, for typescript support, the beforeChange method returns a boolean or a promise, but the promise needs a type argument like "Promise<boolean>".
<img width="476" alt="screen shot 2017-12-27 at 9 25 57 am" src="https://user-images.githubusercontent.com/18630416/34382881-fef66dd6-eae7-11e7-87ab-29f6379ca38e.png">
I fixed it, using the boolean type for the promise, but is nice

[2017-12-28 17:01] cristijora commented on #143
Hi @HaifaM90 Unfortunately this plugin doesn't have support for RTL yet but that can be added.
Would help a lot to have some sort of sketch/picture/mockup on how would that look.

My assumption is that the progress should go from right to left, the buttons will be switched and the font will go the other way around ?

[2017-12-28 17:07] cristijora commented on #144
Thanks @Capellan29 for pointing out.
My experience with TS basically started with this component 😄
If you have time feel free to open a PR and I will merge it since the fix is minor

[2017-12-28 17:08] #122 closed

[2017-12-28 17:11] HaifaM90 commented on #143
Hi Crist

Actually I test the package on RTL project it’s work fine with Tap shape
just I overwrite the css rules for next and back button ..
in other shape the bill sort ok but the movement line step as js is still
from LTR.
Nearly I’ll open pull request for the css LTR rules if you want .

I appreciate your fast response and I looking forward to work with you to
make this package compatible with

[2017-12-29 02:15] packytagliaferro opened #145 "beforeChange error, tab doesnt resolve"
I have some tabs as part of my form I can functions to. The functions work and execute as I need but I get an error and the form never changes to the next tab.

Error:
`Cannot read property 'then' of undefined` from `validateBeforeChange`

Tab:

`<tab-content icon="fa fa-leaf" :beforeChange="create"></tab-content>
`
Function

[code]

The `created()` function executes successfully and I get the dat

[2017-12-29 11:23] cristijora commented on #145
Hi @packytagliaferro
`before-change` expects either a `boolean` or a `Promise<boolean>`

In your case you are not returning something in your `created` function.
Try

[code]
If that doesn't work try
[code]

[2017-12-29 14:20] Capellan29 commented on #144
@cristijora I did it, an update to the npm package with this change will make me so happy.
And thanks for this componen, is really great.

[2017-12-29 14:39] cristijora commented on #144
Released [0.8.2](https://github.com/cristijora/vue-form-wizard/releases/tag/v0.8.2)

[2017-12-29 14:39] #144 closed

[2017-12-29 17:22] packytagliaferro commented on #145
@cristijora  I got it working late last night. WHat I did was wrap my whole post in a promise and resolve where needed:

[code]

[2017-12-29 18:27] Capellan29 commented on #144
Thanks.

[2018-01-02 15:29] mr337 commented on #128
Thanks!

[2018-01-02 15:29] #128 closed

[2018-01-02 18:49] mirikerstein opened #152 "Deactivate a tab after a user has proceeded from there?"
Hello,

Thanks for a fantastic package. I'd like my wizard to flow such that there is "no going back." I have customized the footer buttons to disable the previous button where I'd like to, but the user can still transition to a previous step by clicking that tab on the top tab bar. How can I disable a tab on the top bar once a user has proceeded from there?

Thank you!

[2018-01-05 16:35] cristijora commented on #152
Hi @mirikerstein
There is an option to customize the steps with a scoped slot.
Here is the reference http://vuejs.creative-tim.com/vue-form-wizard/#/?id=step-slot
By default (with the scoped slot override) the steps are not clickable unless you specify a `@click` handler for them.

https://jsfiddle.net/CristiJ/bt5dhqtf/1744/

I guess that's pretty much what you need there

[2018-01-05 16:48] mirikerstein commented on #152
Thank you!

On Fri, Jan 5, 2018 at 11:35 AM, Cristi Jora <notifications@github.com>
wrote:

[2018-01-08 17:07] Eencsio opened #158 "Dynamic step injection?"
Hi! cristijora

Is it possible to inject a dynamic number of steps to the form?
For example, adding more steps depending on the response of a user in a previous step

Thanks

[2018-01-08 21:34] odeland opened #159 "Give the next nav pill same functionality as the "next" button"
During tests with a customer, I found that some users are naturally drawn to the nav pill of the next step, instead of going for the next button at the bottom, but clicking it is disabled unless the step is already completed.

I tried messing around with slots without success. I also know that I can activate all tabs, but I find that the idea of prev/next flow is broken that way, I would only want

[2018-01-09 07:29] #152 closed

[2018-01-11 18:37] jvb93 opened #160 "Feature request: more event hooks"
Can we get some more places to add events?

beforeChange is great,

what about afterChange?
or duringChange?

[2018-01-12 07:25] cristijora commented on #159
Hi @odeland You can indeed achieve that with the step slot.
http://vuejs.creative-tim.com/vue-form-wizard/#/?id=step-slot

Here's a demo for that. Might not be perfect but good as a starting point. I might add this functionality later on but for now you could use such an implementation.

[code]

Here, we verify whether the index is next to the active one. If it is, we trigger the internal wizard n

[2018-01-12 07:26] cristijora commented on #158
@Eencsio That should be possible but requires that all the steps are rendered with a `v-for` which means you have to use `component :is="componentName"`

You can find an example under "Dynamic components for tabs" in readme https://jsfiddle.net/bt5dhqtf/1800/

[2018-01-12 07:27] cristijora commented on #160
Agree that might be useful. @jvb93 To make this faster you could open a PR, otherwise I will be able to do it only after a week or so.

[2018-01-12 07:27] #135 closed

[2018-01-12 07:28] #145 closed

[2018-01-12 16:36] jvb93 commented on #160
You got it, chief.

[2018-01-12 16:36] #160 closed

[2018-01-13 12:57] ScriptMint opened #162 "Cannot make axios request before-change event"
Hello,
I was trying to post axios request when click on 'Next' button i.e. on before-change event, however it throws below error:
![error](https://user-images.githubusercontent.com/31760604/34906220-edc4bd06-f88e-11e7-8018-4dc91c26db4b.jpg)

Here is my Vue component

`<tab-content :before-change="validate">Hello</tab-content>`

`
    validate(){
        axios.post('/api/validate',this.form)

[2018-01-13 13:03] ScriptMint commented on #162
Hey...i just figured it out...

Thanks for wonderful package!

[2018-01-13 13:03] #162 closed

[2018-01-17 07:53] zaqpiotr commented on #162
Hello @ScriptMint can You please share Your solution?

[2018-01-18 18:33] k29 commented on #22
Hi @cristijora, can you please update the status of vertical tabs?

[2018-01-19 15:51] cristijora commented on #22
@k29 Really sorry but after trying several options, I could achieve the layout from the image above with the existing code. If you need vertical tabs please consider other options 😞 https://vuetifyjs.com/components/steppers

Closing as it will not be implemented unfortunately

[2018-01-19 15:51] #22 closed

[2018-01-19 16:05] #159 closed

[2018-01-19 20:30] odeland commented on #159
Looks good, thanks for the demo, I just made one small correction and passed index to navigateMethod on line 13.

https://jsfiddle.net/bt5dhqtf/1866/

[2018-01-25 13:34] Sobient opened #177 "Allow for rendering the progress line between the steps instead of starting outside"
Currently the line that shows progress starts before the first step and continues through it whenever the user proceed.

**Compare**
![bilde](https://user-images.githubusercontent.com/706874/35390114-96032be8-01da-11e8-8064-b795038ce44a.png)

**To:**
![bilde](https://user-images.githubusercontent.com/706874/35390218-e5683eda-01da-11e8-90d3-bdb607ff665b.png)

Additionally, the steps seem to center

[2018-01-26 10:53] hassanalisalem commented on #40
Hello,
I wanted to ask if it is possible to view tab title inside the circle instead of an icon.
in case I don't have an icon but I need to add a title instead

thank you

[2018-01-26 12:02] cristijora commented on #40
Hi @hassanalisalem Please open an issue for that as github doesn't notify/send email when commenting on old issues. As for the quesiton, you can customize that via `wizard-step` slot and it's internal slots
https://jsfiddle.net/CristiJ/bt5dhqtf/1888/

Info on the step slot http://vuejs.creative-tim.com/vue-form-wizard/#/?id=step-slot
Details on how it's implemented https://github.com/cristijora/vu

[2018-01-30 19:32] Ghsthawk opened #182 "changing Icon after step is completed"
Any way to do this now? I keep trying with before change function but I am new to Vue and can't seem to be able to do it.

[2018-01-31 06:55] cristijora commented on #177
Hi @Sobient I think this is a good proposal. Have you tried doing it with css?

[2018-02-01 06:48] yblancof2 opened #183 "How reset wizard?"
I need know how component wizard can be reset on method onComplete. Regards

[2018-02-01 16:22] maximaexchen opened #184 "[Question]: update props title"
Sorry for the dumb question, How do I override the title?

My code is as follows and I dont't now where to change.

[code]

Can someone point me to a direction?
Thanks in advance.

[2018-02-02 18:22] cristijora commented on #182
Hi @Ghsthawk
This is not really documented but you can pass an additional object to each tab
`additional-info` which can contain anything you need

[code]
Later on you could access it via scoped slots.

[code]
https://jsfiddle.net/bt5dhqtf/1927/

[2018-02-02 18:28] cristijora commented on #183
Hello @yblancof2
There is an [internal reset method](https://github.com/cristijora/vue-form-wizard/blob/master/src/components/FormWizard.vue#L260) you can call via refs.
https://github.com/cristijora/vue-form-wizard/blob/master/src/components/FormWizard.vue#L260

[2018-02-02 18:32] cristijora commented on #184
Hello @maximaexchen
You have to specify the title in the `data` section.
https://jsfiddle.net/bt5dhqtf/1937/

Another easy way is to do it via slots which is more flexible in terms of styling.
https://jsfiddle.net/bt5dhqtf/1938/
`<h3 slot="title">This will replace my whole title</h3>`

[2018-02-02 18:32] #183 closed

[2018-02-02 18:32] #158 closed

[2018-02-02 18:33] #184 closed

[2018-02-02 19:40] maximaexchen commented on #184
Ok. Thanks for your answer.
In my case I have a single file component.
I tried it like so, with no sucess.
[code]

The slot variation is working fine. But I want to understand the other way.
Thanks in advance.

[2018-02-05 15:16] maxcook opened #186 "Foundation instead of Bootstrap?"
How can i change the look of the form for Foundation based website instead of Bootstrap?
My first approach ist to try to set the bs_variables in the corresponding file to appear as close as possible as Foundation.
What else has to be done?

[2018-02-09 03:25] saidrr46 opened #187 "Bootstrap Modal"
How to use it inside bootstrap modal ?

[2018-02-12 13:31] cristijora commented on #186
Hi @maxcook Do you want to give it a different look or what exactly?
The component has it's own css and is not really bootstrap based. You can see in the examples that bootstrap is not imported.

[2018-02-12 13:37] cristijora commented on #187
@saidrr46 Do you use a Vue library for bootstrap ?
If yes, you would declare it in the modal content.
Here is an example with bootstrap-vue
https://jsfiddle.net/bt5dhqtf/1954/

[2018-02-21 16:06] tmdoit opened #188 "How to integrate with invisible reCaptcha"
?

[2018-02-21 21:09] Lirianer commented on #1
When will this feature be available through npm?

[2018-02-21 21:15] cristijora commented on #1
@Lirianer this one is on npm from like 10 months ago

[2018-02-21 22:00] Lirianer commented on #1
Oh, I'm sorry.
I was having a problem when setting before-change to a function with a parameter returning a promise , `:before-change=validateTab(1)` it said it was expecting a function but it got a promise instead, and when I came to check I read in the ReadMe that the async wasn't in npm.
Tough now I've read again and it may be that the async with error message isn't present yet.

Still, I did g

[2018-02-21 22:13] cristijora commented on #1
@Lirianer actually good point there. Readme was out of date. I think it was never updated 😆

You can pass params to the validation functions, but it works if you wrap them in an arrow function
`:before-change="() => validate(someParam)"`
https://jsfiddle.net/bt5dhqtf/2092/

[2018-02-28 19:04] taivu opened #189 "Transitions"
Are there any plans to enhance with transitions from each wizard tab?

[2018-03-01 08:48] cristijora commented on #189
Hi @taivu
There is an example on how you could animate with css
https://jsfiddle.net/bt5dhqtf/1478/

It's rather hard to have full transition support esp with `out-in` mode with the current implementation. I recently found a way to support that actually, but not sure if I'm going to implement it, since it might affect accessibility

[2018-03-01 09:58] cristijora commented on #188
Hello @tmdoit
Unfortunately, I don't see this being related to the component.
You can wrap the `form-wizard` in a form
[code]
and setup the recaptcha in one of the steps (last step maybe)

[2018-03-01 15:04] bombomtsao opened #215 "make circle color and text color separate"
Hi,
Is it possible to make color of circle and text different?
For example, the step1 icon is red, but the "step 1" text is in black

Thanks~

[2018-03-05 02:18] Firman95 opened #216 "Get intended tab-content index in before-change"
Hi,

Is it possible to get intended tab-content index inside before-change method?
Because I want to treat last step before-change method differently if it will go next or previous step.

[2018-03-05 15:43] nxmohamad opened #217 "dynamically validate"
I'm quite new to Vue so if this question does not belong here, I apologise, and please point me in the right direction.

--

Is there a way to dynamically validate?

Here is my current code:
[code]

I want to do something like:
[code]
my ref will have the same name as the key in my model object

[2018-03-06 17:34] cristijora commented on #216
You can `start-index.sync` or access via `$refs` `$refs.wizard.activeTabIndex`
https://jsfiddle.net/bt5dhqtf/2376/
Also you can use `on-change` event http://vuejs.creative-tim.com/vue-form-wizard/#/?id=events

[2018-03-06 17:36] cristijora commented on #217
Just pass the `$ref` to your function

`<tab-content :before-change="() => validateField('role')>`
assuming there is a ref with that name.

For the other refs, pass in their names as well.

[2018-03-06 17:44] cristijora commented on #215
You could use css or the `step` slot for that.
https://jsfiddle.net/bt5dhqtf/2378/

The only disadvantage is that you have to use `!important` to override the inline styles for the text color

Option with step slot will not use `!important`
https://jsfiddle.net/bt5dhqtf/2387/

[2018-03-06 17:44] #187 closed

[2018-03-06 17:45] #182 closed

[2018-03-06 17:45] #137 closed

[2018-03-06 17:45] #188 closed

[2018-03-06 17:46] #186 closed

[2018-03-07 06:12] Firman95 commented on #216
Thanks for the reply.
That's how to get destination index after the index changed. I need to get destination index before the index changed. Is that possible?

[2018-03-07 10:47] nxmohamad commented on #217
thank you!

[2018-03-07 10:47] #217 closed

[2018-03-07 10:49] nxmohamad opened #218 "preventDefault for onKeyPress enter"
how can I prevent the page from refreshing when the user presses enter when having an input in focus?

is this resolved through Vue's API instead? I apologise if so.

[2018-03-09 15:47] cpvbruno opened #219 "Next button stop working after open a SweetAlert2 Dialog"

[2018-03-10 19:30] Omazon opened #220 "Disable clickable tabs"
The tabs are clickable for default, exists any way to disabled that function??.

[2018-03-12 15:26] ztioge opened #221 "Cannot use the vue form wizard"
Hi,

Im trying to use the vue form wizard in my laravel boilerplate project, I write this in my js

import VueFormWizard from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
Vue.use(VueFormWizard)

I get: **Uncaught SyntaxError: Unexpected identifier** in the chrome console. in the first line: **import VueFormWizard from 'vue-form-wizard'**

Could you help me please.

Thank

[2018-03-13 17:02] cristijora commented on #218
Yep this would be with Vue API.
https://vuejs.org/v2/guide/events.html#Event-Modifiers

`<form @submit.prevent>` to prevent form from making a request (reloading)
Will close the task since this is not related to form wizard :)

[2018-03-13 17:02] #218 closed

[2018-03-13 17:03] cristijora commented on #220
You can use the step slot http://vuejs.creative-tim.com/vue-form-wizard/#/?id=step-slot

and have full control over the step behavior. This example doesn't have clickable tabs

https://jsfiddle.net/bt5dhqtf/2681/

[2018-03-13 17:03] #220 closed

[2018-03-13 17:06] cristijora commented on #221
Hi @ztioge

Are the other library imports in your project with `import` or with `require`

Make sure you have `import Vue from 'vue'` as well but most likely that's not the problem.

[2018-03-13 17:07] cristijora commented on #219
Hi @cpvbruno Could you help with a codesandbox or jsfiddle example please

Here is a starting point
https://jsfiddle.net/bt5dhqtf/97/

[2018-03-13 17:09] cristijora commented on #216
There is a `on-validate` event
https://github.com/cristijora/vue-form-wizard/blob/master/src/components/FormWizard.vue#L363

You could probably use it because it's triggered before validation, but the disadvantage is that it would be called if you don't provide a `beforeChange` for each step.

[2018-03-13 17:10] #215 closed

[2018-03-14 08:56] 1112403 opened #223 "How can I navigate between step without using the tab"
Hi there,
Is there any function that I can use to navigate between tabs ?
For example:
I want to go to tab 1 from tab 4
   changeTab(1)

Thanks

[2018-03-14 16:58] juanbrujo opened #224 "position of navigation buttons"
Can I change the position of the navigation (prev/next/finish) buttons? It always positions below the wizard, and I need it above. Moving the HTML elements don't change anything

[2018-03-14 17:01] nxmohamad commented on #218
thanks!

[2018-03-15 06:54] cristijora commented on #223
Yes, please see in the docs
http://vuejs.creative-tim.com/vue-form-wizard/#/?id=methods

changeTab(oldIndex, newIndex) - Navigates from one tab to another. Note that this method does not trigger validation methods. Use it with caution!

`<form-wizard ref="wizard">`

`this.$refs.wizard.changeTab(1, 3)`

[2018-03-15 07:36] cristijora commented on #224
Hi @juanbrujo

You can't change it out of the box, but you could use css to that or write some custom markup with buttons that will call the wizard.

[2018-03-16 10:53] vstoianoff opened #225 "Tabs appear as inactive(grey) when using start index"
Whenever you use start index all the tabs before it are shown as disabled (grey). Is there a way to fix that?
![screenshot from 2018-03-16 12-36-24](https://user-images.githubusercontent.com/29570068/37517019-dc3bf74c-2918-11e8-95d5-01f16f9071c6.png)

[2018-03-16 12:45] tmdoit opened #226 "Set color for a line between not resolved steps."
How can I achieve this?

[2018-03-16 13:01] tmdoit commented on #226
Man, it's simple ;) just overwrite background color in .wizard-progress-with-circle class, ie.
.wizard-progress-with-circle {
    background: #F0EFEA;
}

[2018-03-16 13:01] #226 closed

[2018-03-16 21:02] cristijora commented on #225
Hi @vstoianoff
This seems to be a bug. Will fix it but as a temporary workaround you can
https://jsfiddle.net/bt5dhqtf/2783/

[code]

[2018-03-19 11:37] vstoianoff commented on #225
Thanks @cristijora

[2018-03-21 15:44] marcelloinfoweb opened #227 "Validation of fields at each step"
How would I do to validate each field in each step of the form so in the end I send it to a database?

[2018-03-21 16:10] SmarterPhoneLabs opened #228 "Finish Now functionality"
We have been successfuly using VFW for a few months now in our app and like it very much.
However, one request we get from users a lot is the ability to have a "Finish Now" option.
Many of our steps in our wizard offer optional settings for our users, and they have to click through sometimes 5-6 steps to get to the finish button.

Any help with this would be greatly appreciated,

[2018-03-21 20:41] cristijora commented on #228
Hi @SmarterPhoneLabs Thanks for the feedback there.

You could customize the footer with scoped slots or have a separate button apart from the footer and use `nextTab` function to navigate until the end.

https://jsfiddle.net/bt5dhqtf/2891/

[2018-03-21 20:44] cristijora commented on #227
@marcelloinfoweb Please see some of the examples from readme for that
Element UI validation https://codesandbox.io/s/l9mz5zn7yz

The idea is to use `:before-change` callback on steps and handle your validation within those functions.
before changes basically blocks navigation until it returns `true` or a promise that resolves with `true`
https://jsfiddle.net/bt5dhqtf/105/

[2018-03-21 20:47] SmarterPhoneLabs commented on #228
Thanks for the reply and the fiddle, I will give it a try and see if I can make that work for me too.

[2018-03-22 09:21] rahul1235 opened #229 "support for toggle tab based on data"
There should be an option to hide/show tabs based on data property.

[2018-03-22 15:53] SmarterPhoneLabs commented on #228
I have tried to get this working in my code, but I get vue Warn errors that "props" is not defined

![image](https://user-images.githubusercontent.com/1190629/37781701-37f55af6-2dbf-11e8-9912-1f15b73a27d9.png)

[2018-03-22 15:56] cristijora commented on #228
Did you add this part
`<template slot="footer" slot-scope="props">`
Also do you mind telling what version of Vue you use ?
If it's below 2.5 you might need to use `scope="props"` instead of `slot-scope`

[2018-03-22 16:01] cristijora commented on #229
Not sure I understood @rahul1235 but this seems more like a `tab` functionality rather than a wizard one

[2018-03-22 16:07] SmarterPhoneLabs commented on #228
OK Im on an older version of Vue (2.1)
Im also using vue-form-wizard 0.4.2 (older I know, but we had to modify it)
Changing to scope="props" cleared the error,

But the buttons do not render.
Here is a capture of my code:
![image](https://user-images.githubusercontent.com/1190629/37782481-f7716ed2-2dc0-11e8-9689-3cf72be5fd19.png)

[2018-03-22 16:20] cristijora commented on #228
That might be because of the older version of wizard which didn't contain buttons as separate components. Try with some simple buttons
`button` first and see if that works.

[2018-03-22 17:21] SmarterPhoneLabs commented on #228
sorry, No such luck

[2018-03-22 21:00] marcelloinfoweb opened #230 "Submit a form."
I already have all the fields created and I get to the last step, how do I send to a database?

I'll use a php script.

[2018-03-23 15:54] marcelloinfoweb commented on #230
Pode fechar a questão, já resolvi a minha dúvida.

[2018-03-23 15:54] #230 closed

[2018-03-28 11:32] #227 closed

[2018-03-28 11:32] #224 closed

[2018-03-29 06:50] rahul9874563210 commented on #229
@cristijora  Sorry for the late response.
example https://jsfiddle.net/enigmatic/bt5dhqtf/3086/

in the above example if want to toggle next tab then it the positioning of target tab(in this case 3rd tab) gets changes.
any workaround for this ??
the tabs json is  like this:
[code]
if i want to toggle step3 componenet its does that but it adds it after step 4 which is not good.

SORRY again for the

[2018-03-29 06:58] rahul1235 commented on #229
@cristijora  Sorry for the late response.
example https://jsfiddle.net/enigmatic/bt5dhqtf/3086/

in the above example if want to toggle next tab then it the positioning of target tab(in this case 3rd tab) gets changes.
any workaround for this ??
the tabs json is  like this:
[code]
if i want to toggle step3 componenet its does that but it adds it after step 4 which is not good.

SORRY again for the

[2018-04-01 01:49] cpvbruno commented on #223
@cristijora  I cant navigate through navigation buttons after I used this.$refs.wizard.changeTab(1, 3)

[2018-04-03 17:23] chrisbbreuer opened #231 "How to show the tab icon as validated when it is valid?"
Hi!

I am running into a scenario where I am using some rather complex validations and they all work fine.

The "issue" (seems to be intended behavior) I face is the same as portrayed here:

http://vuejs.creative-tim.com/vue-form-wizard/#/?id=element-ui-integration

The tab icon is marked as that there still is an error, even if you fill in the data correctly.

Is there any way that I do not think

[2018-04-04 20:21] chrisbbreuer opened #232 "importing wizard.scss causes rem & px issues"
Hi there,

I need to manually pull in and compile wizard.scss but with Bootstrap 4 there are issues:

     Module build failed: ModuleBuildError: Module build failed:
     $input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
                                     ^
      Incompatible units: 'px' and 'rem'.

I fixed it by changing the affected variable

[2018-04-08 08:34] rhamedy opened #233 "Skip over a tab based on a flag value in either direction using Next or Previous buttons"
Hi,

Thanks for developing this useful library.

I have the following code, which skips tab = 6 and jumps from tab = 5 to tab = 7 when I press *Next* button

[code]
However, the same does not work when *Previous* button is used to return from tab = 7 to 6.

What I trying to do is basically skip over a tab based on a flag. I want the skipping to happen regardless of which direction I am navigating

[2018-04-11 05:46] rhamedy commented on #233
I did a workaround fix to get this working.

I first tried to make use of **event bus** by emitting `my-custom-event` from vue-form-wizard's `on-change(prev,next)` and then catch that and accordingly check the `prev` or `next` values and accordingly do a `this.$refs.wizard.changeTab(0,x);` in `mounted()` or `created()` but, `this.$refs.wizard` turned out to be `undefined` and after a little google

[2018-04-14 18:23] fazila-rahman opened #234 "ti icons are not showing"
The code i am using is:

<form-wizard title="Client Files" subtitle="" color="#80aaff" error-color="#ff4949" shape="circle" transition="bounce" @on-complete="onComplete" @on-loading="" @on-validate="" ref="wizard">
        <tab-content title="File Info"   icon="ti-user">

          </tab-content> .....
<tab-content title="Trust Statement"  icon="ti-check">

          </tab-content>
    </form-wiza

[2018-04-15 09:32] ggedde opened #235 "Need Class Props for step List Item and Anchor"
I noticed there is a Prop on the wizard for "stepsClasses" (Which is not in your Documentation), but I also need one for the `<li>` and the `<a>` when using tabs.

I would suggest the following:
stepsItemClasses
stepsLinkClasses
or something to that effect.

Thanks

[2018-04-16 17:29] SmarterPhoneLabs commented on #228
Just wanted to follow up here and let you know, I was finally able to finish our upgrade to Vue 2.5 and thus able to get this to work for us, thanks

[2018-04-22 13:53] msambarino opened #237 "Error in mounted hook: this.addTab is not a function"
Hi there, first of all, thanks for putting in the work to create this library, much appreciated.

I'm getting the following error:

[code]

I'm registering the components globally like this:

[code]

Do you have any idea what could i be doing wrong to point me in the right direction?

Thanks in advance!

[2018-04-22 15:10] msambarino commented on #237
Closing as this was an error on my part.

[2018-04-22 15:10] #237 closed

[2018-04-23 01:31] wa05 commented on #234
same error here.. did you solve this @synfony  ?

[2018-04-23 01:33] wa05 commented on #234
import themify into the project.. or use fontAwesome

[2018-04-26 14:47] seanbailey28 opened #238 "Index type definition has no default export"
Get the following error whenever trying to follow the component registration steps in documentation:

[2018-04-30 20:17] cristijora commented on #232
Hi @Chris1904 You can always import the compiled `css` file to avoid such issues.
Regarding the fix, the appropriate fix would be to prefix the sass variables with something like `vfw-` so they don't conflict with bootstrap ones.

[2018-04-30 20:18] #234 closed, assigned to nobody

[2018-04-30 20:40] cristijora commented on #235
Hi @ggedde You could always use the explicit `step` slots to customize everything based on your needs.
Here is an example https://jsfiddle.net/bt5dhqtf/3638/
More details in docs http://vuejs.creative-tim.com/vue-form-wizard/#/?id=step-slot
If this is not enough, feel free to open a PR and I will be glad to review it.

[2018-04-30 20:43] cristijora commented on #229
Hey @rahul1235 This can be done if you use `v-for` and explicit `keys` so Vue can render the slots predictably. Here is a demo
https://jsfiddle.net/enigmatic/bt5dhqtf/3086/

[2018-04-30 20:45] cristijora commented on #219
Closing due to inactivity

[2018-04-30 20:45] #219 closed

[2018-04-30 20:46] cristijora commented on #216
Closing due to inactivity. Please refer to last comment and feel free to reopen the issue if that doesn't work for you

[2018-04-30 20:46] #216 closed

[2018-04-30 20:49] #228 closed

[2018-04-30 20:50] cristijora commented on #221
Closing due to inactivity.

[2018-04-30 20:50] #221 closed

[2018-04-30 20:50] #223 closed

[2018-04-30 20:50] #229 closed

[2018-05-02 14:08] seanbailey28 commented on #238
Managed to fix my local version by slightly editing the index type definition to look like this:

`import Vue from 'vue'
import { PluginFunction } from "vue";

export function install (vue: typeof Vue): void

import { Wizard } from './FormWizard'
import { Tab } from './TabContent'
import { Step } from './WizardStep'

export class FormWizard extends Wizard {}
export class TabContent extends Tab {}

[2018-05-03 07:31] #238 closed

[2018-05-03 12:36] dnasir commented on #238
You should post a PR for this. I ran into the same situation, and it doesn't make sense for me to edit the type definition that came with the package, since my build server will simply pull the package in via NPM and I'll run into the same problem there.

[2018-05-10 13:22] rockyshukla opened #240 "validation not working properly"
hello, folks, I m using your wizard and it's great but now I m stuck in validation I don't know what I m missing or doing wrong. because I did not get from document how I can do  validation for below type i.e eg code

  <template>
      <form-wizard @on-complete="onComplete"  @on-loading="setLoading"
                  @on-validate="handleValidation"
                  @on-error="handleErrorMessage"

[2018-05-10 16:48] cristijora commented on #240
@rockyshukla the beforeValidate method is just a function where you should return true or false. Depending on the result, the wizard will navigate to next step or not. Now what you need to validate and how its totally up to you. You can use any validation library and simply call it inside these beforeValidate functions. There are a lot of examples in the readme of this repo

[2018-05-11 04:56] rockyshukla commented on #240
@cristijora thanks for your replay then what error handle method does for eg:- if I check whether company name input is empty or not in validate function then what is the use of handleErrorMessage how I can pass the message for validation function to handleErrorMessage

[2018-05-17 11:10] cristijora commented on #240
If I understand correctly your question, there is an example in readme file with this exact thing https://jsfiddle.net/CristiJ/bt5dhqtf/298/
So
[code]

[2018-05-17 15:53] luisk182 opened #243 "Step slot problem"
I followed this example https://jsfiddle.net/bt5dhqtf/705/
and when I use the template slot nav Pills just dissapear

[2018-05-18 02:14] harishankards opened #244 "Font icons not loading and how to override css and remove static text?"
Hi,
I am using this wizard and it's great. Thanks for that.

Below, is my code:
[code]
and this is my output:
![image](https://user-images.githubusercontent.com/5006693/40212667-b6aabfa4-5a6e-11e8-9b6b-a056d6d4b22b.png)

I have 3 questions:

1. The fonts are not getting fetched and I see it in the console: `Fallback font will be used while loading: https://fonts.gstatic.com/s/sourcesanspro/v11/6xK

[2018-05-18 16:48] cristijora commented on #244
Hello @harishankards
Please read the docs/see demos
This is quite basic stuff and is fully covered in demos/docs
http://vuejs.creative-tim.com/vue-form-wizard/#/?id=demos

As for icons, icons is a third party package like font-awesome and are not provided by the wizard component.

[2018-05-21 12:58] monday9393 opened #245 "Form Wizard children validation"
Hi cristijora, good morning, I am using your vue-form-wizard(I like it) for study and I need some help, I am not going to share code(it is messy like a playground) here because I am a newer(noob) programmer, but if you want to share some come feel free to share it. Well, I have a Wizard Form(Dad) and I have a child component(Kid), a step in your form, my Kid is using vuelidade(this is a great plug

[2018-05-21 14:26] LiamMoorcroft commented on #245
My suggestion monday, as a starting point - check out this example of using the `:before-change` handler which is fired before a step change occurs.

http://vuejs.creative-tim.com/vue-form-wizard/#/?id=call-a-function-before-tab-switch

[2018-05-21 15:46] cristijora commented on #245
Hey @monday9393
@LiamMoorcroft pointed to the right examples. `:before-change` is a function that should be attached to `<tab-content>` and it should return either a boolean or a promise that resolves with a boolean.

You can check Readme of the repo. There are many examples including vuelidate example :) https://jsfiddle.net/CristiJ/bt5dhqtf/1119/

It's a bit ugly because back then there was no c

[2018-05-21 18:55] monday9393 commented on #245
Hi @LiamMoorcroft and @cristijora, I have forgotten to mention that I am using vue-router, I have tried the Async methods and now I see that yours solution seems more simple and convenient, I think that I can't uses references into tab-content, I will try but I am not sure, If I can't use reference like yours way, I will try to send a String in the props and use that String to make a reference. Do

[2018-05-21 19:49] LiamMoorcroft commented on #245
@monday9393 - Without seeing your workings it hard to say whether you are on the right tracks or not, but what you are suggesting doesn't sound to crazy.

If your project is growing in size I might suggest if you haven't already taking a look at [VueX](https://vuex.vuejs.org/en/intro.html) for centralising all your application state, which you could then reference anywhere for use in your validati

[2018-05-22 02:40] monday9393 commented on #245
Hi guys, it is me again, I made this tiny project(does not have bulma, buefy or css) using the modules that I am using [Code Here](https://codesandbox.io/s/8n3pz97xm2), my other code is a messy(I just play everything I can), in this code I am using vue-router, vuelidate and vue-form-wizard, if you see you are going to find a vuelidate in the formOne, my goal if possible, it is use a function insid

[2018-05-22 15:14] monday9393 commented on #245
Hi again, the way you guys said is working! I made two components and use in the first step references, I still use route but I removed the **router-view tag** and the address bar is still showing the route [Code here](https://codesandbox.io/s/38k5kk3wk6).
Thanks @LiamMoorcroft and @cristijora.

[2018-05-22 16:15] #245 closed

[2018-05-24 06:19] harishankards commented on #244
Thanks @cristijora.

Got it. Also, I'd like to know to change the colour of the icon in the tabs which are not active. How would I achieve that?

[2018-05-28 05:23] michalexvr opened #246 "How can i validate multiple tabs in the finish button"
Hi,

I am working in a long draft form with a 6 steps, but i not need to validate in each tab, instead i need validate only in the finish button. Then i need paint in red each tab where the user has left blank fields.

How can i do this?

[2018-05-28 07:02] gongon2dotcom opened #247 "Tabs added programmatically wrong order"
Hi, in my app i add tabs from web service through axios but tabs navigation order not respect the html generated order.
Any suggestions?

Thanx

[2018-05-28 15:22] Sergeon opened #248 "Documentation and github.io links are broken"
The github.io page that appears at the readme start is broken.
The link is:
https://cristijora.github.io/vue-form-wizard/#/

When I visit the page I'm redirected to:
https://demos.creative-tim.com/vue-form-wizard/#/

which shows a 404.

Also, the documentation link at the end of the `readme.md` is broken (in fact, the link points to the aforementioned github.io page).

[2018-05-28 16:09] michalexvr commented on #246
I have ready all the logic to determine who tab has blank fields, but i dont now how use an promise rejection, exception or launch an multiple errors associated to each tab.

Any help ?

[2018-05-29 11:05] cristijora commented on #248
Hi @Sergeon Sorry for that. I had a CNAME setup earlier which did some redirects. It took a while until it was changed back and therefore the links didn't work this weekend. It's fixed now.

[2018-05-29 11:05] #248 closed

[2018-06-07 09:47] hifall opened #249 "Responsive issue."
When there are enough (>=5) steps on the form, and the page width is small enough, the horizontal line begins to break.

This is reproducible in the official basic demo in jsfiddle.

[2018-06-07 14:41] cristijora commented on #249
Hi @hifall
Unfortunately for now there is not easy way to place the tabs vertically on small screens. One thing you can do if you have many tabs is to reduce their size https://jsfiddle.net/bt5dhqtf/3750/
`step-size="sm"` You could do that conditionally based on screen size.

[2018-06-19 08:15] fvanderwielen opened #250 "prevTab() does not call afterTabChange"
As I want to scroll the top of the tab into view, I would like to be able to execute a function when a tab is complete. Looking at the source, the afterTabChange function seems to do this:

``
            <tab-content title="someTab"
                         :after-change="()=>someFunction()">
``

setting this on a tab does work when navigating normally through the tabs (by clicking next), but it

[2018-06-21 13:28] Bambuko1 opened #251 "Carousel animation"
How can i add animation like carousel?

Example: https://css-tricks.com/wp-content/uploads/2015/03/flickity.gif

[2018-07-05 14:57] amenadiel commented on #250
You can enable backwards validation doing

[code]

See: https://cristijora.github.io/vue-form-wizard/#/?id=form-wizard-props

[2018-07-05 18:16] davidnoguerol commented on #12
That's great! Although there is still one final bug.
When you click on a circle of a previous step (instead of the back button) and `:validateOnBack="true"`, it doesn't try to validate on the current step.
Should I open a new issue?

[2018-07-05 18:23] davidnoguerol opened #252 "Validation not being triggered on back even with validateOnBack set to true"
This is a continuation of #12

When you click on a circle of a previous step (instead of the back button) and :validateOnBack="true", it doesn't try to validate on the current step. But if you click on the back button, then it triggers the validation.

Shouldn't it validate in both cases?

[2018-07-09 07:02] bedus-creation opened #253 "How to use Font Awesome or Iconmoon for icon ?"

[2018-07-09 13:09] worm2fed opened #254 "wizard height animation"
Is it possible to animate wizard height change? On tabs I have different content so tab height is different too. I would like to animate this height changes when moving throw steps

[2018-07-11 16:15] anamarquezz opened #255 "Tab appear as inactive(grey) when I use font-awesome for icon tab"
The first Time appears good,

![imagen](https://user-images.githubusercontent.com/12877909/42585464-9128d9c2-84ea-11e8-9e4d-1ef72f7111f7.png)

but when a I change the tab to another one,

![imagen](https://user-images.githubusercontent.com/12877909/42585495-a33cd5be-84ea-11e8-899b-e762ff2c80f0.png)

 and then return to the tab with the icon with font awesome appears inactive,

![imagen](https://us

[2018-07-13 08:36] num3r06 opened #256 "ActivateAll in dynamic wizard"
Hi,
I try to generate wizard with form generator and all works fine.
One thing seems not work. The tabs lenght it's ever 0 and in console the log is:
Prop startIndex set to 0 is greater than the number of tabs - 0. Make sure that the starting index is less than the number of tabs registered.
But all tabs are generated correctly.
If i use activateAll method for activate all tabs not works
this is t

[2018-07-13 20:44] grex22 commented on #41
@cristijora - Is there any way I could plesae see your integration you mentioned with vee-validate? I've spent a couple of hours trying to get it to work and I'm about out of ideas :/

[2018-07-21 05:08] dhaval1111111 opened #257 "vue-form-wizard"
hello,
I have used Vue-form-wizard i want to make on select dropdown in wizard third and four step remove with content
on select dropdown hide see below image want to output

![hide](https://user-images.githubusercontent.com/29671758/43032347-0e9defb6-8cd2-11e8-8fa0-65da1846423f.png)

And on selectdropdown show see below image want to output

![show](https://user-images.githubusercontent.com/29671

[2018-07-21 20:36] minasm commented on #250
@amenadiel

[code]
I could not make it work. `Function1` runs normally when Next button is clicked while on FirstTab, but I want to trigger `Function2` when Back button is clicked while on SecondTab.

Am I missing something?

Thank you.

[2018-07-21 20:50] minasm commented on #252
In my case the back button is not validating as well.

`<tab-content  :after-change="validateOnBack">`
Are you using something like this as well?

Thanks

[2018-07-23 08:42] cristijora commented on #252
@davidnoguerol @minasm
By default back validation is disabled but there is a prop to switch it on if you need it.
https://binarcode.github.io/vue-form-wizard/#/?id=form-wizard-props
`validateOnBack` https://codesandbox.io/s/l9mz5zn7yz

Just add the prop on the wizard `<form-wizard validate-on-back>` and it should work

[2018-07-23 08:48] davidnoguerol commented on #252
@cristijora
I've tried this (just now), it does work when I click on the back button, but it doesn't work when I click on a previous step circle (only forward).

[2018-07-27 17:34] minasm commented on #252
hmm apparently I have a different error somewhere. I wish there was an option to have different validations as you may not want to run the same method on the back and previous buttons.

[2018-08-01 06:00] dhaval1123 opened #258 "jquery sidebar"

[2018-08-01 06:02] #258 closed

[2018-08-14 11:42] thepill opened #259 "Testing vue-form-wizard as component fails"
Hello,

i try to test a custom component using jest which uses vue-form-wizard as a child component.

but my test fails with the error message
`Prop startIndex set to 0 is greater than the number of tabs - 0. Make sure that the starting index is less than the number of tabs registered`

the test looks like this:

[code]

if i take a snapshot i can see that all id´s of the tab-panels are missing.

[2018-08-14 13:40] cristijora commented on #259
Hey @thepill

can you show the `NewEmployeeForm` code ?
You could try waiting for `nextTick` or
[code]

[2018-08-15 07:01] thepill commented on #259
Hey @cristijora

thanks for your reply - i tried using `flushPromises()` but it didn't work, but i might found my problem:

Im using https://github.com/baianat/vee-validate to validate my inputs.
If i remove the ` v-validate` tags from my inputs within the `tab-content` it works!?!

[2018-08-15 23:04] anamarquezz commented on #255
Not, I changed the user interface.

[2018-08-17 09:52] paulvonber opened #260 "Hide tabs"
Is there any option to hide the tabs? I mean in some cases I need many steps, but I don't want to show the tabs to indicate how many steps exists.

Thanks!

[2018-08-18 12:10] ggedde commented on #235
Thanks, that is what I am doing, but would prefer not to have to customize the whole slot.
I mainly need this feature to apply bootstrap class names to them.

[2018-08-20 17:33] malbrecht0792 commented on #41
@cristijora I'm also not able to get the vue-form-wizard to work with vee-validate. The solution you mentioned would be much appreciated!

[2018-08-21 13:10] Matthewloughton opened #261 "Cancel button on first Step"
Hi there,

Is there any way to put a cancel button on a the first step that emits an event "onCancel" or something?
Kind of like the reverse of the finish button on the last step.

Regards

[2018-08-23 08:50] Kovaloff opened #262 "Custom button click last step form validation"
Hello! I'm trying to async validate last step tab by clicking on custom button....
My Button:
`<button v-on:click="validateThirdTab" type="button" class="btn btn-md btn-warning">Get instructions</button>`

And validation method:
`validateThirdTab: function () {
                return new Promise((resolve, reject) => {

                    axios.post('/box/user-box-primary-email', {primary_email: t

[2018-08-28 06:28] anas142 opened #263 "direction RTL"
can I create vue-form-wizard from right to the left

[2018-09-05 13:34] niklasfink opened #264 "Question: Template Slots with SFCs"
Hey,
I need some help with using slots and single file components at the same time. The goal is to remove the step circles and progress bar in order to show a custom progress bar in a different component.

So the questions are:

1. How do I properly hide or remove the top wizard steps bar or change it?
2. How do I get the current and the maximum amount of steps into another component?

I've tried

[2018-09-06 07:15] niklasfink commented on #264
That worked for now:

[code]

[2018-09-06 07:15] #264 closed

[2018-09-06 16:48] danawesome commented on #260
Try this:
`<tab-content
    v-if="datavar"

Assumes datavar is truthy

`<tab-content
    v-if="datavar==='myValue'"

For what ever reason v-show doesn't seem to work, needs to be v-if

[2018-09-06 16:52] danawesome commented on #257
Use `v-if` on the `<tab-content>` to point to the drop down's value

[2018-09-17 08:41] bernarddoci opened #265 "How to add spinning loader on a finish button?"
After going through all the steps at the end I have to submit all the forms
with finish button. So how can I add loading spinner on a finish button.

[2018-09-19 10:53] frostfire64 commented on #237
@msambarino, do you by any chance remember how you solved that issue? It seems that I may have made the same mistake.

[2018-09-19 13:51] frostfire64 commented on #237
The reason for the mistake was quite embarassing but im going to post it for a future lost soul:

In my case it was two instances of vue running at the same time by mistake.

[2018-09-19 14:04] msambarino commented on #237
yeah that was the issue for me as well, sorry i hadn't seen your question sooner

[2018-09-20 14:28] eLiXee opened #266 "Hide/Show Steps based on conditions within the form"
I am trying to Hide/Show Steps based on conditions filled out on the form. I was going about it trying to use a v-if on the tab content but the order the step reappears is not in the proper order I would like it to be in when it appears. Is there anyway around this?

[2018-09-20 14:30] eLiXee commented on #265
You can call a function on complete
 <form-wizard @on-complete="runFunction"> you can handle what you want within that function like showing a loading spinner.

[2018-09-25 10:06] sidyamamoto commented on #177
Well, I don't know about @Sobient, but I've tried to adjust with only css and no success. The progress bar always starts with width: 12.5%.

I've tried this method (https://steemit.com/utopian-io/@alfarisi94/how-to-make-step-progress-bar-only-using-css), But even if I set display:none to the progress bar and tried to set the bar only with css pseudo selectors like :after another problem occurs. Th

[2018-10-06 21:28] aep commented on #238
@dnasir's version works for me. how do you apply this without modifying node_modules?

[2018-10-08 07:44] jafar690 opened #267 "how can i add animation on tab change?"

[2018-10-09 20:06] jcuribe opened #268 "npm wrong version"
Very strange.. I have just installed via npm install vue-form-wizard.

Could not get the title of form no to show up, when I look at the nodes_module vue-form-wizard it looks as I have the lates version 0.8.4 version, but at least in the components\src\form-wizard-vue file the first couple of lines look different from what is in the github repository.

these are some of the differences I see:
 1)

[2018-10-10 13:52] jcuribe commented on #266
I am facing the same problem. did you solve it?

[2018-10-21 06:46] nimaaj93 commented on #263
I have made it RTL by adding the following css:

[code]

[2018-10-26 09:56] Kalifax opened #269 "Question: Add next/previous buttons outside of the form-wizard"
![bilde](https://user-images.githubusercontent.com/706874/47559397-ab859880-d915-11e8-8682-4bee4755c17c.png)

A use case we have is that all contextual state should be placed at the top of the page, like the image above. Any idea on how to control next/previous buttons outside of the `<form-wizard`. How do one access methods `nextTab()` and `previousTab()` when not inside the container of `<form-w

[2018-10-31 16:26] lclyman opened #270 "Unable to focus on any text fields"
There doesn't seem to be any way to focus on any input fields in form-wizard. I've tried autofocus on individual text inputs as well as a Vue directive that automatically places the focus on the element.

I've also directed the focus to the first text input in the mounted hook via document.getElementById('element name').focus() with no luck.

It would be great if this could be addressed..

Thanks

[2018-10-31 16:36] nsh-core commented on #269
you can add a ref to the form-wizard element then access anything in the component pragmatically

`<form-wizard ref="myWizard">`

`this.ref['myWizard'].nextTab();`

[2018-11-09 15:19] mdjaman commented on #247
Same issue. Any updates? Did you solve it? If so could you please share how u handle it

[2018-11-09 15:50] gongon2dotcom commented on #247
Unfortunately not..

[2018-11-09 15:57] mdjaman commented on #256
Same issue. Did you manage to make it work, please?

[2018-11-16 12:09] froamer commented on #270
I did this...

    <form-wizard @on-change="tabChanged">
    ...
    tabChanged(oldIndex, newIndex) {
      switch (newIndex) {
		  case 0:
			  this.$refs.name.focus()
			  break;
		  case 1:
			  this.$refs.address1.focus()
			  break;
		  case 2:
			  this.$refs.interests.focus()
			  break;
	  }
	}

[2018-11-17 23:19] dany-eudes commented on #255
I got the same problem.

I figure out how to center the tab icon using the following css in component style section:

[code]

But I cannot solve the inactive (grey) tab effect when going to next tab, include it, and going back to the previous tab. Only it's Ok for the first tab in the very first time.

![capturar1](https://user-images.githubusercontent.com/82278/48666676-7c45ef80-eaad-11e8-91ad-e5

[2018-11-18 14:29] dany-eudes commented on #255
Update:  I cannot reproduce that in JS Fiddle  using VueFormWizard, VueFormGenerator, Font Awesome and Bootstrap 4.

Maybe the conflict is in other feature from the Anthony Rappa's Laravel 5.7 Boilerplate environment, the framework I'm in.

https://jsfiddle.net/dany_eudes/a4q5ruv6/

[2018-11-23 08:48] raresabr opened #274 "Footer buttons are duplicated from time to time"
![screenshot 2018-11-23 at 10 47 27](https://user-images.githubusercontent.com/19518040/48934556-33f35b00-ef0d-11e8-8bfc-1fd7d746582b.png)

Book now button appears to be duplicated from time to time but when I refresh the page it resolves itself. Did anyone has this problem ?

[2018-11-29 20:05] ma06rii commented on #264
Oh I see, I think you set the 'color' prop to transparent via 'v-bind' and then used the CSS class to set the wizard buttons back to visible colors.

[2018-11-30 07:57] niklasfink commented on #264
Hey @ma06rii, I'm not using `wizardConfig` anymore, but I'm hiding a couple of elements through CSS, which is probably not recommended, but works:

[code]

[2018-12-01 19:33] dany-eudes commented on #266
Same here! I'm looking forward for a workaround.

[2018-12-02 00:08] dany-eudes commented on #266
Please, take a look at: #229

[2018-12-03 09:10] mdjaman commented on #247
Sure sorry i didn't post update. I successfully managed it, works great now

[2018-12-04 09:25] mostafaselimm opened #275 "Vue form wizard nav"
I was wondering if there is a way to use my own (svg-icons and images) as tab icons `<tab-content icon="">` @cristijora
Thanks.

[2018-12-04 19:42] dany-eudes commented on #247
@mdjaman, could you please explain your solution? That would help others. Thanks!

[2018-12-06 15:24] mdjaman commented on #247
Sure but no real magic applied; i couldn't explain but one thing i did wrong is use a subcomponent as tabcontent. So wrap the looped subcomponent with ```<tab-content></tab-content>``` element!
Here a my component template

[code]
Hope it helps

[2018-12-07 04:35] allaghi commented on #187
How about if I am using bootstrap and Vue library for bootstrap ?

[2018-12-08 18:14] dany-eudes commented on #247
Thank you, @mdjaman! We all appreciated.

[2018-12-10 20:44] Jossnaz commented on #24
@cristijora just saying, when i try to do this:
[code]

This won't work and is giving me a head time:

`app` has the wrong scope when called like this
[code]

[2018-12-13 23:10] dany-eudes opened #276 "The contents of the tab remain hidden after hiding all tabs and showing it back."
We have a requirement:

After the last tab, there is another hidden.
When the user clicks on the Finish button, all guides, including the current tab, will be hidden as well.
At that point that hidden initial tab will appear and show its contents. If necessary, the user can use the Finish button, now a Restart button, to restart the wizard and return to the initial tab configuration.

We are using

[2018-12-13 23:25] torian257x opened #277 "20 tabs form returning ajax error of a field, how to I figure out on which tab is the field?"
love your plugin! and vue form generator too, sooo good.

our project: we have 20 tabs
we btw hide the nice icons etc... its nice, but we show a progress bar with % instead.

Now the user fills out 20 steps, and finally presses submit. The data is sent via ajax, and maybe returns an error, say:
zipcode: must be at least 5 chars.

I want to display this error. Yes, I can just ensure the user enters

[2018-12-14 18:02] dany-eudes commented on #277
Divide to conquer. Maybe you can make each tab a separate Vue component. Then, each one will have its own model. In the end, if the API returns which field the error occurred, it will be possible to find out which model has that field, and consequently on which tab this model belongs.

Maybe you can also validate each step, but I believe you can't.

[2018-12-23 16:55] dany-eudes commented on #276
It's possible to workaround this anomaly just right watching the _active index_ value. When it drops to -1 we could make an extra call to **.nextTab()** forcing it to be incremented to 0. Be sure there's a one tab visible at least.
[code]
[code]

[2018-12-25 12:22] arishojaei opened #278 "How use another JS plugin in vue-form-wizard?"
I trying to use **Ace editor** in on of steps but it doesn't work!
when I put ace editor outside of vue-form-wizard its work fine and I can type on it but inside of vue-form-wizard I can't type anything on it.

[2018-12-26 19:33] andcl opened #279 "Form elements (inputs, selects, radio) inside `form-wizard` tag does not send when submitting form"
Hello,

I want to send all of the fields (inputs, selects, radios, checkboxes) collected through the wizard steps to my server but **just using traditional form submitting**, neither axios nor ajax calls at all... Just following the action parameter of my form tag.
It seems that everything within the `form-wizard` tag does not appears in the post request when I execute the `form.submit()` method..

[2018-12-27 16:07] dany-eudes commented on #255
Update:
First tab icon background color is Okay when the wizard is loaded.

I noticed that after going to the next tab from the very first tab, the `<div class="wizard-icon-container" style="background-color: rgb(0, 122, 195);">` where the icon is inside and is responsible for the active color of the background, simply disappeared.

Back to the first tab doesn't resolve the anomaly because `<div>`

[2019-01-10 20:09] saraElsanan commented on #259
@thepill
well i tried to use veevalidate with form-wizard but idon't know what's wrong .. how did you use it please ?

[2019-01-11 19:05] lshannon opened #281 "Customizing the Navigation Tabs"
We are trying to convert and existing wizard to this project. So far this project is far superior in functionality to what we originally had with JQuery + Bootstrap. Great job! However there is a small UI challenge. The 'tab' shape for the Navigation steps is great, but the rendered elements are a bit too wide for the div that we are injecting the form-wizard into. Also we want the colour of the t

[2019-01-17 05:10] ziming commented on #221
Got the same problem too. Components loads in the browser but the same console error message appears pointing to VueFormWizard

[2019-01-24 15:50] claymore07 opened #282 "load components dynamically based on choice in the current step"
Hi,
I'm trying to load components dynamically based on choice in the current step. For example, the user has 3 choices in the first step and if he chooses choice one, component One will be loaded in 2end step and so on.
The question is here is it possible to do something like this? if it is how to do it?

[2019-01-25 01:47] chriscyang opened #283 "on-error event is emitted even when error is null"
https://github.com/BinarCode/vue-form-wizard/blob/ff92af9fc2e877e41a381cf29e6bb14c8c605184/src/components/FormWizard.vue#L343-L346

There are several methods in [`FormWizard`](https://github.com/BinarCode/vue-form-wizard/blob/master/src/components/FormWizard.vue) that does `this.setValidationError(null)` in order to reset the error message. However, `setValidationError` always emits `on-error` reg

[2019-01-25 21:47] ZalgirisKaunas opened #284 "Is there a way to pass html elemnt into tab title?"
Hello, I would like to add one differently styled word into the tab title, is there a way to do that?

[2019-01-29 14:29] apellizzn opened #285 "Async Validation with Router integration"
Hi, I am trying to use the `asyncValidation` https://binarcode.github.io/vue-form-wizard/#/?id=async-validation with the vue-router integration https://jsfiddle.net/bt5dhqtf/267/ .

I really like the router integration because only the current step is actually loaded and rendered.
By the way all of my steps contains a lot of code and validations so i would like to define an `asyncValidate` functio

[2019-02-11 14:03] exnihilo-creatio opened #286 "Allow the ability to show all tabs on 1 page"
Is it possible to add the ability to show the form in a single page form, i.e. with a option `isSinglePage`?

[2019-02-18 16:28] daav7713 opened #287 "Tabs to Bottom"
Great plugin, but im wondering if its posible to send tabs to bottom insted they appear at the begining, is some way to do that?

[2019-02-21 18:58] sdkcodes opened #288 "Tabs not retained when used with vue-router"
Hi, whenever I try to use vue form wizard with vue-router i.e by using the `route` prop on the tab-content component, the route loads fine, but the wizard disappears.
Is this normal or am I doing something wrong?

[2019-02-27 11:47] ptdev commented on #268
Same issue here, code at npm version doesn't match the github code.
I was also trying to hide the title and header div but it appears as it's not possible with the current version that's published on npm.

[2019-02-28 15:09] jcuribe opened #290 "Incorrect tab order on show/hide tabs."
I added some more tabs today (index6 and index7) and could not get the display order I wanted, I was using the following
<tab-content v-for="tab in tabs"
                     v-if="!tab.hide"
                     :key="tab.index"
                     :title="tab.title"
                     :docType="this.docType">
            <component :is="tab.component"></component>
</tab-content>

using this t

[2019-03-11 22:56] jayenne opened #291 "wishlist: inline icon tab name (within tab)"
would it be possible to have the option to have tab-name within the the tab or above the tab as well as under thetab as it currently it? please?

[2019-03-13 20:28] nibbleswap commented on #288
I've seen this and when it happened it was due to a too simplistic transfer of the example given in the JSFiddle. There the router-view is the root outlet and everything is dandy. As soon as one has a component implementing MyOwnWizard the router-view outlet there is some level down. Here child routes came to rescue. The root route would be e.g. '/myownwizard' and the first child route would be 'f

[2019-03-22 07:53] jsinhSolanki opened #292 "Unnecessary .wizard-header gives extra padding"
hi, I would like to submit issue regarding `wizard-header`. Even if I don't need header(title and subtitle) there's empty div with the class of `.wizard-header`.
This results in extra space above my wizard.(padding: 15px)

So, I suggest you add `v-if` in header div to check whether we provided title and subtitle or not.

[2019-03-30 03:21] zefexdeveloper opened #293 "Save the information in the localstorage"
I was wondering, how can I save each step information in the localstorage, so if the user closes the browser and tries to use the form it would go to the last step with the information filled

[2019-04-17 14:03] lukaszog opened #295 "Buttons on top location"
It is possible to place buttons on top? Below `wizard-step`?

[2019-04-17 21:35] adulion opened #296 "hide first and last"
I have a 7 tab app and it looks cluttered on mobile- the start and finish tabs are just texts- is there a way to display the tab content but not the slots/steps

[2019-04-25 09:52] arghyac35 opened #297 "Progress bar not completing properly"
![image](https://user-images.githubusercontent.com/27964664/56727179-c8d4db80-676d-11e9-83ab-802503213bc4.png)
The progress bar is being like this, any solution will be grateful. Thank you.

[2019-04-25 11:35] arghyac35 commented on #297
Okay got an around and fixed it.

[2019-04-25 11:35] #297 closed

[2019-04-28 17:01] shareef1989 commented on #263
Thanks @nimaaj93

Sometimes it needs `!important`

[2019-05-22 06:05] sasany11 commented on #143
hi
i want to know if this shortage has been solved or not?

[2019-05-22 07:25] sasany11 commented on #263
tanks alot nimaaaa joooon

[2019-05-24 18:36] jeangomes opened #300 "Position on screen in new tab/step"
How can keep my tab in the begin, when I advance in steps.
For example in first step I have some fields in a form, in second too and with more, but the screen position don't stay in the begin of fields. Understand me? Sorry for my english.

[2019-05-30 23:29] Waynestay commented on #290
Hi, Note sure if you managed to fix this but I had the same issue and eventually gave up trying to hide the tab. I copied my code into one of the demo's and it worked as expected but could not get it to work in my code and it still displayed the tabs out of order when unhiding. I then grabbed the latest version of the form wizard from npm but still had the issue so wondering if this may have been

[2019-05-30 23:49] jcuribe commented on #290
yes. I got it working. just look at the last part of my message... create a computed property, where you filter and then v-for over the computed.

[2019-06-13 14:52] fatihsinanyaman opened #301 "How can i remove steps navigation bar without css "display:none""
![Screen Shot 2019-06-13 at 17 50 35](https://user-images.githubusercontent.com/6079978/59442958-dddff980-8e03-11e9-84bf-24f83abc045b.png)

i want to remove this steps navigation bar but no there any props about that

[2019-06-17 12:31] enekogb opened #302 "Allow hiding the tabs when there is only one"
I'd be nice if you could pass an option like "hide-if-only-one-step=true" so it doesn't show the pills nor the progress bar if there's only one tab to show.

This way, if your app is dinamically rendering the wizard you can hide these elements if you are not using them, saving some UI space.

[2019-06-17 22:44] knackjason commented on #268
Any chance we can get the lastest version pushed to npm? I just spent 30 mins trying to figure out why my wizard always had the title slot while the examples didn't have it.

[2019-06-18 14:03] bhavesh-786 opened #303 "vue form wizard + vue form generator issue with validation on click next"
Hello,

I am using this example please check this link
https://jsfiddle.net/3ordn7sj/5/

if I'am going to add :before-change="validateFirstTab(index)" inside then it's showing me error and not able to do validation,

Error

TypeError: Cannot read property 'validate' of undefined
at wn.validateFirstTab ((index):146)
at eval (eval at Ya (vue.min.js:6), :3:300)
at wn.vt [as _l] (vue.min.js:6)
at wn.e

[2019-06-18 18:45] knackjason commented on #268
BTW, @ptdev, you can hide the wizard header with some CSS, which is what I resorted to for the time being.

[code]

[2019-06-18 19:17] knackjason commented on #255
I just ran into this exact same problem, but figured out a way around it. The trick is to tell Font Awesome to nest the `<svg>` element under the `<i>` element, rather than replace it.

[code]

https://fontawesome.com/how-to-use/with-the-api/setup/configuration

[2019-06-19 08:02] bhavesh-786 commented on #303
is there any hope for this issue?
:before-change with dynamic value pass is not working and it;s showing Cannot read property 'validate' of undefined I don;t know how I can come out from this issue. Please help me

[2019-06-25 08:29] #303 closed

[2019-06-27 03:09] shawnhooper opened #304 "step-size is not a valid attribute name"
The step-size attribute, like:

`<li class="" step-size="md">`

is not valid HTML.   I would recommend changing it to:

`<li class="" data-step-size="md">`

[2019-06-27 03:12] shawnhooper opened #305 "tabindex="" causes HTML validation errors"
This code is causing HTML validation errors:

`<div role="tab" tabindex="" id="step-1837" aria-controls="1837" class="wizard-icon-circle md tab_shape">`

the value of tabindex is "".  Tabindex, according to the HTML standard, must be an integer.

[2019-07-04 13:29] wbovela opened #306 "Tabs List not rendering correctly"
I am generating tab-content using a v-for, as per the example in issue #42. The tabs themselves are being generated correctly, but the tabs list at the top simply shows a list of tab titles. I also get the following warning in the console:

Prop startIndex set to 0 is greater than the number of tabs - 0.

The tabs work perfectly, I can navigate through them using the Next and Previous buttons.
Cod

[2019-07-04 14:02] wbovela commented on #306
I didn't have the vue-form-wizard.min.css imported. Problem solved.

[2019-07-04 14:02] #306 closed

[2019-07-11 11:36] gittrolo commented on #31
I should disable the button at the last step. Can you give a complete example using the "wizard-button" ?
Thanks

[2019-07-11 13:23] gittrolo opened #307 "disable the button at the last step"
I should disable the button at the last step. Can you give a complete example using the "wizard-button" ?
Thanks

[2019-07-11 20:59] tarekadam commented on #227
I had a better idea... and by "better" I mean "different".  I was struggling with this issue in my implementation of vue-form-wizard with Element UI integration.  To solve this into step-by-step validation while still harnessing the power of all the pre-existing validation logic...

`<form-wizard @on-complete="totallyReady"...`
`<tab-content :before-change="function(){ return validate('el-form-ref

[2019-07-15 13:29] lundie commented on #270
I'm having the same issue. Even with @froamer's code, I am unable to get it to work. The event is firing, but it seems to be before the tab has actually changed, so I'm wondering if that could be causing the problem where the form input isn't getting focus? I am able to set the focus within the mounted() call.

Thanks

[2019-07-24 17:29] pandisoft opened #308 "Next button remain disabled when reset the wizard"
When the form is submitted / completed and you reset the wizard using (this.$refs.wizard.reset()) the next button remain disabled.
not sure if this is a general issue or it appears on my side only.
i fixed it by editing the source code
on the reset method i added "this.loading = false"
[code]

[2019-08-19 11:35] PetroGromovo opened #312 "With vue-form-wizard define if capture is clicked?"
Hello!
In my Laravel 5/vuejs 2.6 I use vue-form-wizard and on the last tab I added captura component from DanSnow/vue-recaptcha. With DanSnow/vue-recaptcha I managed to set to my var is_recaptcha_verified if recaptcha is checked. What I search is how to set finish-button-text button enabled/disabled depending on my is_recaptcha_verified var ?

If enabled/disabled of finish-button-text button is no

[2019-08-19 16:43] UddyOrizu opened #313 "Method type definitions NOT in NPM package"
Hi,
Just wanted to say you may have missed adding the commits for the methods from 6 months ago to your npm package.

Commits
5e50036c4c450fe9e83bc3fe2f1ee215ab6547fa
55a2bc40abb7d0e6ce9fe4bb9aca583a8c6e875c
7209900cbe4227e6293b50f659dd4b1842ff85f1

[2019-08-21 22:13] icrotz commented on #301
You can use my fork https://github.com/KOJI-SAS/vue-form-wizard

[2019-08-21 22:14] icrotz commented on #284
No...
I've made PR supporting header scope.
https://github.com/BinarCode/vue-form-wizard/pull/311

[2019-08-21 22:15] icrotz commented on #281
Check this: https://github.com/BinarCode/vue-form-wizard/pull/311
It's PR adding this feature

[2019-09-05 08:38] milad777v2 opened #314 "diable back buton and back pressed"
hi
how to disable back button and back pressed ?
because i use to register form

[2019-09-09 18:37] mcwagner opened #315 "Order of Tab Contents Defined in Template Not Preserved"
It appears when you add the component to modal that it gets re-rendered upon additional clicks of displaying the modal. The generated IDs change so that the order of the tabs and list elements are not retained as defined in the template. Is there a workaround for this occurrence?

On first open:
![image](https://user-images.githubusercontent.com/5747472/64557243-1ca42380-d30f-11e9-9b87-d2ceae297f2

[2019-09-18 13:03] lk77 opened #317 "Style issue with round/square step and border / background"
Hello,

there is an issue with the round step :
[code]
The border is in one div, and the background color is on another div inside

![pasted image 0](https://user-images.githubusercontent.com/9606882/65150388-54544f00-da24-11e9-98ec-400dde1ae2f9.png)

with certain resolutions, there is gaps between the border and the background color,
it's best to move the background to the top div.

thanks.

[2019-09-20 18:38] essramos opened #318 "before-change work on npm package now?"
Also if its not, how to register components using github direct links?

Thanks!

[2019-09-20 18:56] essramos commented on #162
Also having this issue. Can you share your solution? @ScriptMint or @cristijora any help?

[2019-09-22 23:15] essramos opened #319 "Property or method "foo" is not defined on the instance but referenced during rende"
Hello,

I am having this bug on the form wizard. Any idea what is happening?

Here are the logs on the console.

![image](https://user-images.githubusercontent.com/8519223/65395763-191f8c00-dd54-11e9-83b0-411941084e9a.png)

[2019-09-23 12:09] soulaimanassikiou opened #320 "Stop Form Auto Submit"
Hi,
I am using Vue-Form-Wizard and I am overwriting the footer buttons because of i18n, this is how it looks like now:

[code]
The thing is that I am using the same form for creating and for editing entries.
So imagin my wizard has 4 steps:

I modify data in step 1 and after I click on 'Next' button twice.

So now that I am in the 3th step and it somehow detects that all fields are filled (because

[2019-10-01 13:29] MrCrankHank commented on #315
Same problem here.

[2019-10-02 21:45] Provyzor commented on #40
Hi!
Is it possible to hide a tab in certain condition, and then to show (when returning to previous tabs) in the same order as it was before hiding? It appears at the end...

[2019-10-11 13:36] gregvissing opened #321 "Vue Form Wizard/Generator application blank in IE"
In IE11, the header and footer show up on this page but not the form I've built.
My code: https://github.com/gregvissing/gsv-giving-form/blob/master/giving-form-10-11.html
head content: https://github.com/gregvissing/gsv-giving-form/blob/master/giving-form-head-content.html

Application page: https://ucfoun-stg-bbis.concoursehost.com/_2019-giving-page/home

Any help would be greatly appreciated!

[2019-10-14 13:45] #301 closed

[2019-10-15 08:37] hackel commented on #25
Was this ever fixed?  I'm customizing my footer based on `activeTabIndex`, but whenever I navigate directly to the route, `activeTabIndex=0` (instead of 1).  Reviewing the code, it doesn't look like it ever gets synchronized with the route on initial load.

[2019-10-24 12:09] simioluwatomi commented on #279
Did you find a way around this because I'm in this situation now

[2019-10-30 09:11] M3hdi-Rostami opened #323 "how to use of methods nextTab and prevTab ???"
hi
how to use of methods nextTab  and prevTab ???

tnx

[2019-10-30 22:36] boruchsiper commented on #270
The workaround is to put the focus code into a setTimeout function with delay of 400. Bu this is not ideal.

[2019-10-30 22:37] boruchsiper commented on #270
It would be nice if there was a onEnter event for the steps to handle this requirement.

[2019-10-30 22:39] boruchsiper commented on #270
The workaround is to put the focus code into a setTimeout function with delay of 400. But this is not ideal.

[2019-11-01 11:28] DanielTerbl opened #324 "Lottie Animations Display All"
I can't seem to get all the Lottie animations from all 3 my steps to show all at once. They bundle together in a single slot for some reason. What I would like to achieve is to have only the first Lottie animation show when I am at step one, and once I move to step 2 I would like both one and 2 to show and so on.

How would I achieve this?

[2019-11-12 01:14] wendellpbarreto commented on #315
I'm having this issue too

[2019-11-28 03:14] urlgirl commented on #287
You can do this by customizing the CSS rules for class "wizard-card-footer".  For example, in the <style> section of your top-level Vue component you could put:

`<style>
  .wizard-card-footer{
    position: fixed;
    bottom: 12px;  /* set whatever bottom margin you want */
    width: 100%;
  }
</style>`

[2019-11-29 05:59] lexjwa commented on #162
I am unable to return true or false from .then and .catch in case of success and error respectively of axios call to API.

[2019-12-03 11:56] kopitar opened #325 "Vuesax switch component triggers form submit"
_vue: 2.6.10
vue-form-wizard: 0.8.4
vuesax: 3.11.1,
vee-validate: 2.2.8_

Code: [https://www.codepile.net/pile/lBKVk1X6](url)

Works fine in Chrome. In Firefox (testing with version 70.0.1) the form submits suddenly and past validation when I change the value on the switch element (right after VsSwitch emits 'change' the form submits).

I think it actually just tries to submit, because I get no re

[2019-12-04 20:48] hamzaafzal9009 opened #326 "Dont Want Icons"
Is there any way to hide icons and place text instead of icon?

[2019-12-07 12:23] SINAKZM opened #327 "background color of step"
how can i remain active background color of step bullet after i pass the step???

[2019-12-07 12:24] SINAKZM commented on #27
how can i keep active background color of bullet step after i pass the step??

[2019-12-16 10:05] twin250 commented on #162
hi @lexjwa , @essramos , @zaqpiotr . I found a fix by putting the axios call in a promise. Using the example request above, this is what I did:

{
 return new Promise((resolve, reject) => {
    axios.post('/api/validate',this.form)
    .then(response => { resolve(true) })
    .catch(error => { reject(false) }) }
})
}

[2019-12-26 10:32] akvaliya opened #329 "How to use png image icon"
I have a specific icons provided by client & have to use exact. How can i use these in wizard?

[2020-01-03 17:02] #293 closed

[2020-01-05 21:42] headkit opened #330 "Rearranged tabs when re-opening form wizard in bootstrap-vue modal window"
I am using the **Form Wizard** together with **Vue Form Generator** inside an **Bootstrap-Vue** _modal_ popup window. When first initialized everything seems to be fine, but when I close the modal and reopen it the tabs have changed their ordering. The last tab is now the first one.

Any idea why this happens?

[2020-01-08 19:58] Hadas97 commented on #330
I have the same issue, did you solve it?

[2020-01-08 20:08] headkit commented on #330
not yet, still on it. what's your scenario?
I was trying to reset the wizard with

`this.$refs.wizard.reset();`

on hideModal() but with no effect at all.

[2020-01-15 15:11] SnoxiK opened #331 "disabled button next previous finish"
Hello I would need help to know how to disable the buttons during an axios request thank you

[2020-01-16 16:30] topegret commented on #331
not an elegant way but what about css display:none
`.wizard-btn {
      display:none  ! important
}`

[2020-01-16 20:17] vgutnar commented on #184
Hmm..... , how do I remove the Title completely?

[2020-01-17 22:15] rashadrivera opened #332 "Need to replace footer and header with custom layout"
Hello Sir or Ma'am,

Perhaps this is already a feature.  If so, then this is not an issue.  If not, then consider the following a feature request.

I need to replace the back, next and finish buttons with new UI elements.  In one case, I want the buttons to be replaced with anchors (A).  In another use case, I need to move the buttons from the footer to the header.  I expected this to be possible

[2020-01-18 00:40] derman232 commented on #243
Did you make sure to import WizardStep from vue-form-wizard and include it as a component?

[2020-01-20 11:49] ChrisDevriese commented on #315
Same issue when using one of the examples ... nice module.. can't be used like this.

[2020-01-20 17:14] SlyDave commented on #332
See https://binarcode.github.io/vue-form-wizard/#/?id=slots

[code]

[2020-01-20 17:21] SlyDave commented on #292
Basically same as https://github.com/BinarCode/vue-form-wizard/issues/332
See comment https://github.com/BinarCode/vue-form-wizard/issues/332#issuecomment-576365015

[2020-01-20 17:27] SlyDave commented on #292
I stand corrected, even if you use the slot, the .wizard-header is there with the padding.

[2020-01-21 09:49] SlyDave commented on #326
You can set icon to nothing, and it'll place the step number in it.
` <tab-content title="Selection" icon="">`
![image](https://user-images.githubusercontent.com/1842611/72793513-778d4600-3c32-11ea-9330-5c08792d3d23.png)

Or you can replace the entire step markup:

[code]
if doing this take not there are some scope variables you can use see: https://binarcode.github.io/vue-form-wizard/#/?id=step-s

[2020-01-21 09:55] SlyDave commented on #329
You'll need to replace the template for the steps, see https://github.com/BinarCode/vue-form-wizard/issues/326

[2020-01-21 18:53] cesarureno commented on #330
I have the same problem, you found how to fix it?

[2020-01-22 16:26] vesper8 commented on #287
not sure what he OP means by tabs but I assumed he meant the wizard-navigation, and if so then the suggested css does not work on the wizard-navigation

I would like to know how it's possible to make the steps be at the bottom instead of at the top

[2020-01-28 05:22] ArunaTalesara17 commented on #27
sjdhfkjsdh sdh skjd kjsd

[2020-01-29 16:13] danwalker-caci commented on #330
I did seem to get this fixed using refs. On the modal I used `@hidden="onModalHidden"` then in the formwizard I set ref called "travelwizard" as this is for a custom travel form. Then the event looks like this:
`onModalHidden: function(args) {
      vm.ref['travelwizard'].reset()
    },`
vm is actually 'this' but I use vm set to 'this' on mounted to ensure a proper handle on some events

[2020-01-29 19:05] mandersondesign commented on #22
@cristijora Did you ever release a package that supported the layout you showed off in that js fiddle? I know it's been a couple of years, but I was curious about doing it vertically (even without the progress bar line).

[2020-01-30 12:54] mihalikv opened #333 "NavigationDuplicated error"
Hello,
I am using vue-form-wizard with vue-router-3.1.3 and it throw an error in console when you came to first step of wizard or if you enter same route again and again.

Reproduction link:
https://jsfiddle.net/yazhup9t/

Related issue:
https://github.com/vuejs/vue-router/issues/2872

Maybe just  suppress error by catching it here:
https://github.com/BinarCode/vue-form-wizard/blob/master/src/comp

[2020-01-30 16:17] danwalker-caci commented on #315
So far I have had success using vue's keep-alive. I do not reset the component and it maintains the order if I close and re-open wizard.

[2020-01-30 16:18] danwalker-caci commented on #330
So, I tried a different approach and wrapped my form-wizard with vue's keep-alive and this really seems to help maintain order and so far it works great!

[2020-02-02 10:20] gauravgavhane05 commented on #237
How u solved the error. As I am also getting same error like below:
 [Vue warn]: Error in mounted hook: "TypeError: this.addTab is not a function"

found in

---> <TabContent>
       <Signup> at src/views/Signup.vue
         <App> at src/App.vue
           <Root>

[2020-02-03 11:23] Kalifax commented on #331
You need to use a custom footer. In there, you :disable the buttons when content is loading.

@cristijora It would be nice to have this as an exposed property for easier usage and less custom markup since you already can customize next and previous button texts.

I.e:

[code]

[2020-02-03 12:59] #331 closed

[2020-02-03 12:59] SnoxiK commented on #331
thank's :)

[2020-02-03 16:40] ghenry commented on #22
If you add layout="vertical" @mandersondesign it works. The docs haven't been updated though.

[2020-02-03 16:41] ghenry commented on #22
I spotted it in vue devtools on the component instance data.

[2020-02-04 11:51] Kalifax commented on #243
As mentioned above, you need to import this component.

[code]

[2020-02-04 17:22] danwalker-caci commented on #315
So the keep-alive appeared to work a few times and now it's not. Makes it less desirable to use.

[2020-02-08 13:31] edwinhuish opened #334 "how to make the top icon / tabs switchable?"
How to make the top icon / tabs switchable as default without click the "next" button?

[2020-02-19 16:10] Perezmarc commented on #285
any news on this?

[2020-03-12 08:16] piggylabs commented on #269
`this.$refs.myWizard.nextTab();`

[2020-03-16 12:57] jensvlierop commented on #317
I ran into the same problem as well and noticed some differences in the CSS between my code and the example code.

For me the issue was fixed by applying the following css to the inner container:

[code]

[2020-03-17 09:53] jensvlierop commented on #296
Did anyone find a solution for this yet? I'm running into the same problem

[2020-03-17 12:06] jensvlierop commented on #249
I found an easy way of doing this is using the VueMq library and passing the value as the step size prop

After installing the library you can define the breakpoints for each screen size:
[code]

Then you can pass the value generated by the mq library to the form-wizard:
`<form-wizard :step-size="$mq">`

[2020-03-17 12:56] #269 closed

[2020-03-18 01:31] young-altair commented on #330
I tried version Vue-Bootstrap 2.7.0 and this problem appeared. I tried version 2.0.0-rc.1, it works well. I think the problem is with the Vue-Bootstrap version.

[2020-03-18 03:15] tmorehouse commented on #330
Modals are portalled (and lazy).  Refs are only available when the modal is open (the content is only rendered when the modal is open).

So disable portaling of the modal, set the `static` prop on `<b-modal>`.

[2020-03-18 03:38] tmorehouse commented on #330
The cause of the issue stems from this line:

https://github.com/BinarCode/vue-form-wizard/blob/cfc12ce1dcee2487cba41386415c3660259429fd/src/components/FormWizard.vue#L238

Vue 2.6 caches slot functions.  All slots are now functions and `this.$slots[name]` may return stale vNodes (we ran into this issue with `b-tabs`)

One needs to run `this.$scopedSlots[name](scope)` to get a fresh copy of vNodes

[2020-03-20 13:18] M3hdi-Rostami opened #335 "Not working semantic ui on vue-router"
Hi guys ... i'm using vuejs in a laurel project .. and i used semantic ui html for frantis in vue (not semantic-ui-vue !!!) so i had no problem here And it's all okay! I also use a vue-router to handle different sections or pages ... and here's the problem! That is, when I display a page with a vue-router, the semantic elements no longer work (their styles are just not actionable !!!) but when I r

[2020-03-31 12:27] daniaaalarshad commented on #61
@cristijora this layout prop I couldn't find in documentation :\

[2020-03-31 23:23] avambro commented on #326
@hamzaafzal9009 have you found any solution  ?

[2020-04-14 17:10] aboutsam opened #336 "Use axios after validate fields?"
Hello, how i can validate the input of a step page via axios.post() before switch to another page?

[2020-04-15 08:57] Perezmarc commented on #333
Same issue here. Any workaround solution to this?

[2020-04-16 13:38] makroxyz commented on #229
it doesn't work!!

https://jsfiddle.net/enigmatic/bt5dhqtf/3086/

the toggle button hides tab on first click, but on second it adds the tab at the end!

I can't face this issue! any other workaround??

[2020-04-17 07:01] makroxyz opened #337 "Dynamic Tab goes in wrong position when using slot BEFORE tab-content"
Have a look here https://jsfiddle.net/efpgr4xw/ it's a modified version of Dynamic tab example

button test toggles second tab ('Is Logged In?')

putting slot title BEFORE tab-content messed up tabs positions: ('Is Logged In?') goes in 3rd position

[2020-04-21 02:55] dohahelmy commented on #177
This can be achieved by CSS by th following scss rules.
[code]

and then adjust `.wizard-progress-with-circle` left and right margins to suitable percentages.

**The issue** now is how much the with of the progress increase. I didn't figure how to change the method somewhere away from the internal JS! **Help needed** if someone can offer a solution.

[2020-04-21 02:57] dohahelmy commented on #143
It is solved by changing the float of `.wizard-progress-bar` to right

[2020-04-21 02:59] dohahelmy commented on #297
How did you fixed that? please explain as I need to change how the width is changing on steps.

[2020-04-21 03:03] dohahelmy commented on #327
I need help for this.
If you figured it please explain your solution

[2020-04-21 03:05] dohahelmy commented on #329
Use the image as a background image on both `wizard-icon-circle` and `wizard-icon-container`.
This did the trick

[2020-04-21 03:06] dohahelmy commented on #326
For icons use background image for both `wizard-icon-circle` and `wizard-icon-container` to include the icon in. I used `svg` icon and it worked.

[2020-04-25 00:01] duongtdvn commented on #326
did you mean the css?

[2020-04-26 08:00] dohahelmy commented on #326
Yes. apply new CSS styles and it will solve the problem

[2020-04-30 01:52] xzegga commented on #327
Any solutions to this question?

[2020-04-30 01:55] xzegga commented on #323
I perform this operation declaring a method when the Vue app is created. so in this method I put `this.$refs.wizard.nextTab()` where `wizard` is `form-wizard` element in my HTML referenced with `ref` property.

`<form-wizard @on-complete="onComplete" :start-index="0" ref="wizard">`

[code]

[2020-05-02 11:20] hadelnasr commented on #336
You should give a try using [this example](https://binarcode.github.io/vue-form-wizard/#/?id=async-validation)

Replace the simple check with your axios call

[2020-05-05 10:05] jvgrootveld commented on #314
@milad777v2 You need to implement a function on `:before-change`. This is documented in [this example](https://binarcode.github.io/vue-form-wizard/#/?id=call-a-function-before-tab-switch). When you return `false` the tab is not switched.

See [this fiddle](https://jsfiddle.net/bt5dhqtf/105/) to play with this functionality.

[2020-05-07 12:06] gijsmooren commented on #333
Same here. Not sure if this is caused because I am nesting form-wizards.

[2020-05-10 16:18] campgurus opened #338 "beforeTabSwitch is not being called"
I have a simple three question onboarding form, I am trying to use the wizard for.

beforeTabSwitch does not appear to be called when I switch between the form elements. Here is my component:

[code]

[2020-05-10 19:12] campgurus commented on #338
nevermind, I see what I was missing.

[2020-05-10 19:12] #338 closed

[2020-05-18 12:14] Braincoke commented on #318
Not sure what the question is about. But for anyone wondering, before-change works properly. Just make sure you return `true` in the function called.

E.g
[code]

And
[code]

[2020-05-21 10:42] #235 closed

[2020-06-01 20:29] andrefigueira opened #339 "Trigger tab change from step?"
Hi there,

I'm building a form where I need to set a value with a button on screen, but instead of having a user press continue, i'd like to move to the next tab with the option they select.

For example, this is my template:

[code]

I'd like to trigger nextTab() from my setGuardian method, does anyone know how I can do this, I can't seem to find how via the docs.

Thank you.

[2020-06-02 10:01] andrefigueira commented on #323
@xzegga I get the following error when trying to use it:

[code]

Trying to do the following:

[code]

As I trigger a next-tab event on the component, any idea what it could be?

[2020-06-02 11:51] andrefigueira opened #340 "How to disable nextButton from tabContent?"
I have a form in which I proceed to the next tab from a custom button with my tab-content, on these instances I want to disable the wizard next button, ideally without having the check the tabIndex.

Is there a way to trigger this from the tabContent?

My current wizard footer template is as follows:

[code]

Ideally I'd like to make the first wizard-button here get disabled when i'm on say my thi

[2020-06-02 11:53] andrefigueira commented on #339
I've found I can do this using events;

In my tab-content I have the following method:
[code]

And in my wizard I have a listener on the mounted method:

[code]

I also had to set a ref for the wizard to be able to call the nextTab method.

[code]

[2020-06-02 11:53] #339 closed

[2020-06-11 18:28] marcelloinfoweb opened #341 "Add one more step with message, after sending"
how could i show a personalized message by adding one more step?

[2020-06-16 12:51] SimonFricker commented on #302
+1

[2020-06-16 12:54] SimonFricker opened #342 "Hide all tabs"
How do you hide all tabs?

[2020-06-23 09:03] ThaDaVos commented on #333
Any fix for this? It also doesn't go to the next route for me, always returns back to the first one after throwing the error

[2020-06-23 14:07] MrEko commented on #333
@ThaDaVos
Try using v0.8.5 from my repository, I was having problems like this and worked for me.
But I don't remember returning back to the first route.
https://github.com/MrEko/vue-form-wizard/tree/v0.8.5

[2020-06-23 15:10] ThaDaVos commented on #333
How would I use it? Is it on NPM? Or do I have to build it myself?

[2020-06-23 15:25] MrEko commented on #333
put in your package.json:
"vue-form-wizard": "github:MrEko/vue-form-wizard#v0.8.5"

[2020-06-25 21:58] jonalxh commented on #342
I have the same question, I want my form to be separated in steps, but dont want the titles or step numbers be shown.

[2020-06-25 21:58] jonalxh commented on #342
@SimonFricker What did you do?

[2020-06-25 22:16] jonalxh commented on #260
I've added the following CSS in my .vue file:

[code]

I hope it help.

[2020-06-25 22:16] jonalxh commented on #342
I've added the following CSS in my .vue file:

[code]

I hope it help.

[2020-06-26 09:27] SimonFricker commented on #342
Using CSS is not an ideal solution as the tabs still get rendered.

[2020-06-28 20:27] #260 closed

[2020-06-29 20:15] jonalxh commented on #342
@SimonFricker  Then, Explain us what is the correct way.

[2020-06-29 20:54] SimonFricker commented on #342
Idk how

On Mon, 29 Jun 2020, 21:16 Jonathan Arias, <notifications@github.com> wrote:

[2020-06-30 17:20] Lucho1976 opened #343 "nextButtonText and backButtonText properties doesn't work"
I'm Tryng to set de nextButtonText and backButtonText and it doesn't change, dou you see something wrong?

![Captura de Pantalla 2020-06-30 a la(s) 14 20 01](https://user-images.githubusercontent.com/26300768/86156732-cc37c580-badc-11ea-8664-30a7497dc90a.png)

![Captura de Pantalla 2020-06-30 a la(s) 14 14 37](https://user-images.githubusercontent.com/26300768/86156643-a9a5ac80-badc-11ea-8b83-427b

[2020-07-13 21:17] mehmeteyupoglu opened #344 "Dynamic Components With Tabs"
In general, I am having a general customization problem with the components. For example, I would like to render the components below the wizard but it only allows me to render the components inside it. How can I achieve that?

[2020-07-13 21:20] mehmeteyupoglu opened #345 "I cannot set the height of the wizard"
Either setting a class name or assigning a prop with the name 'height', I can't set the height of the wizard. Is there a way to achieve it ?

[2020-07-21 19:53] khayyak commented on #343
Hello I had same issue and I fix it like this :
`<form-wizard @on-complete="onComplete"
                      shape="square"
                      color="#3498db"
                      backButtonText = "nnn">
            <tab-content title="Personal details"
                         icon="ti-user">
              My first tab content
            </tab-content>
            <tab-content title="Additi

[2020-07-21 21:39] Lucho1976 commented on #343
Thanks a lot, it was something about the camel and kebab format i solved like this:

<form-wizard
      next-button-text = 'Siguiente'
      back-button-text = 'Anterior'
      finish-button-text = 'Finalizar'

[2020-07-21 21:43] khayyak commented on #343
what are you meaning ?

[2020-07-21 22:17] khayyak commented on #343
@Lucho1976 but now it's about the pig .

cheers

[2020-07-21 23:56] Lucho1976 commented on #343
Like this ;-)

<form-wizard
      next-button-text = 'Siguiente'
      back-button-text = 'Anterior'
      finish-button-text = 'Finalizar'

[2020-07-21 23:57] Lucho1976 commented on #343
Like this ;-)

![Captura de Pantalla 2020-07-21 a la(s) 20 56 45](https://user-images.githubusercontent.com/26300768/88118728-bfb30400-cb94-11ea-9db9-d511b1adb4f7.png)

[2020-07-29 22:21] jonalxh commented on #262
@Kovaloff Have you solved it? It is not validating for me the last steps.

[2020-07-30 04:07] jonalxh opened #347 "How to validate last step with custom buttons?"
HI, I have a custom buttons which handle the` prevTab()` and `nextTab()` methods, but I'm not able to validate the last step, I've tried with default buttons and it works. Is there a method to validate the last step with the wizard ref?

[2020-07-30 11:37] Kovaloff commented on #262
@jonalxh yes, in my case i added `:before-change` to the tab i needed to validate

[code]

[2020-08-16 05:54] hlgkb opened #348 "Error on local component registration [Typescript]"
I am using Nuxtjs with Typescript. Here is the snippet of code:

[code]
And here is the error during the compilation:
[code]

But if I make a plugin for **Nuxt** and include it in **nuxt.config.js** for global component registration as below:

[code]

[code]
then there are no issues. Ideally I'd like to register as a local component but I keep getting the error I mentioned above.
Any insight would